{{ include('partials/header-reproupement.html.twig') }}
    {{ include('partials/page-title.html.twig', {pagetitle: 'Agency', title: 'Agencies list'}) }}


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive mb-4">
                        <table class="table table-centered table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Language</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for agency in agencies|sort((a,b) => a.name <=> b.name )  %}

                                        {% if agency.language == 'en' %}
                                            {% set flagCountry = 'us' %}
                                        {% elseif agency.language ==  'es' %}
                                            {% set flagCountry = 'spain' %}
                                        {% elseif agency.language ==  'fr' %}
                                            {% set flagCountry = 'french' %}
                                        {% elseif agency.language ==  'it' %}
                                            {% set flagCountry = 'italy' %}
                                        {% elseif agency.language ==  'po' %}
                                            {% set flagCountry = 'us' %}
                                        {% else %}
                                            {% set flagCountry = null %}
                                        {% endif %}
 

                                    <tr>
                                        <td>{{ agency.id }}</td>
                                        <td>{{ agency.name|title }}</td>
                                        <td>{% if agency.language %}
                                                {% if flagCountry is not null %}
                                                    <img class="header-lang-img" src="/images/flags/{{ flagCountry }}.jpg" alt="Header Language" height="16">
                                                {% else %}
                                                    ??
                                                {% endif %}
                                            {% else %}
                                                ??
                                            {% endif %} 
                                        </td>
                                        <td>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="{{ path('app_agency_edit', {'id': agency.id}) }}" class="px-2 text-primary"><i class="uil uil-pen font-size-18"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{{ include('partials/footer-regroupement.html.twig') }}