{{ include('partials/header-reproupement.html.twig') }}
    
    {{ include('partials/page-title.html.twig', {pagetitle: 'Team Manager', title: 'Rep Assignment'|trans}) }}


    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <i class="uil-shutter-alt spin-icon"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div>
                   {#      <h4 class="mb-1 mt-1">Attributions rep</h4> #}

                            <p>{% trans %}Choose the arrival date{% endtrans %}</p>
                            <div class="mb-3">
                                <form action={{ path('app_admin_team_manager') }} method="GET">
                                
                                    <input name="date" type="date" value="{{date | date('Y-m-d') }}">
                                    <input type="submit" class="btn btn-primary waves-effect waves-light btn-sm">
                                
                                </form>
                            <div>
                            {# <a href="{{ path('app_admin_team_manager_replist') }}" class="btn btn-secondary my-3">Briefing Rep</a> #}

                            {% if notClient is defined %} 
                                
                                <p class="alert alert-success mt-3" role="alert">{% trans %}No or no more customers to assign for this date{% endtrans %}.</p>

                                {% else %}
                                    <p class="alert alert-danger mt-3" role="alert">{% trans %}They are still{% endtrans %} {{ countNonAttributedClients }} {% trans %}client(s) to assign{% endtrans %} </p>

                                    <div class="mb-3">
                                        Arrival date: 
                                            <b>{% for arrival in firstClient.transferArrivals  %}
                                                    {{ arrival.date| date('d-m-Y')}}
                                               {% endfor %}
                                            </b><br>
                                        {% trans %}Briefing date{% endtrans %}: 
                                        <b>{% for arrival in firstClient.transferArrivals  %}
                                                {{ arrival.date|date_modify("+1 day")| date('d-m-Y')}}
                                            {% endfor %}
                                        </b><br>
                                        <hr>
                                        <P><u>{% trans %}Next group of clients{% endtrans %}:</u></P>
                                        {% trans %}Agency{% endtrans %}: <strong>{{ firstClient.agency }}</strong> <br>
                                        {% trans %}Hotel{% endtrans %}:
                                        {% for infosTransfer in firstClient.transferArrivals %}
                                            <strong>{{ infosTransfer.toArrival}}</strong><br/>
                                        {% endfor %}
                                        <p>
                                            Pax: <b>{% trans %}Adults{% endtrans %}: {{ paxAdults }}, {% trans %}Children{% endtrans %}:  {{ paxChildren }}, {% trans %}Babies{% endtrans %}: {{ paxBabies }}</b>
                                        </p>

                                        
                                    </div>

                                {{ form(form) }}
                            {% endif %}

                    </div>
                
                </div>
            </div>
        </div> <!-- end col-->
    </div>

    <div class="row">
        <div class="col">
             <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">{% trans %}Dates with unassigned reps{% endtrans %}</h4>
                            <ul>
                            {% if daterestantes is not null %}
                                {% for result in daterestantes %}
                                    <li>{{ result.date| date('d-m-Y') }}</li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ include('partials/footer-regroupement.html.twig') }}
