{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Contacts', title: 'Rep Briefings Attributions details'|trans}) }}


    <h1 class="text-center">{{ user }} {% trans %}le{% endtrans %} {{date | date('d m Y') }}</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <a href="{{ path('app_admin_team_manager_replist') }}" class="btn btn-secondary waves-effect waves-light"><i class="mdi mdi-minus me-2"></i>{% trans %}Briefing Rep{% endtrans %}</a>
                                <a href="{{ path('app_admin_team_manager_fiche_par_date_details',{'user': user.id}) }}" class="btn btn-primary waves-effect waves-light"><i class="mdi mdi-plus me-2"></i>{% trans %}Details{% endtrans %}</a>
                            </div>

                        </div>
                    </div>
    
                    <i>{% trans %}*Number total of pax{% endtrans %}: {% trans %}Adults{% endtrans %}:{{paxTab['adults']}}, {% trans %}Children{% endtrans %}:{{paxTab['children']}} ,{% trans %}Babies{% endtrans %}:{{paxTab['babies']}} = {{ countPax}} pax</i>  

                    <div class="table-responsive mb-4">
                        <form action="" method="POST">
{#                         <table class="table table-centered table-striped table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">{% trans %}Informations{% endtrans %}</th>
                                    <th scope="col">{% trans %}Time{% endtrans %}</th>
                                    <th scope="col">{% trans %}Rep{% endtrans %}</th>
                                    <th scope="col">{% trans %}Place{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>

                                    {% for transferArrival in regroupements|sort((a, b) => a.meetingAt <=> b.meetingAt) %}
                                        {% set agency = transferArrival.customerCard.agency.id %}
                                        {% set hotel = transferArrival.toArrival.id %}
                                        {% set flightNumber = transferArrival.flightNumber %}

                                        <tr>
                                            <td>
                                                <b>A:</b> {{ paxPerHotelAgency['adults'][agency~'_'~hotel~'_'~transferArrival.meetingAt|date('H:i')~'_'~transferArrival.meetingPoint] }}, 
                                                <b>C:</b> {{ paxPerHotelAgency['children'][agency~'_'~hotel~'_'~transferArrival.meetingAt|date('H:i')~'_'~transferArrival.meetingPoint] }}, 
                                                <b>B:</b> {{ paxPerHotelAgency['babies'][agency~'_'~hotel~'_'~transferArrival.meetingAt|date('H:i')~'_'~transferArrival.meetingPoint] }}<hr>
                                                    Arrival: {{ transferArrival.fromStart|title }} at {{ transferArrival.hour|date('H:i') }} <br>
                                                    {{ transferArrival.toArrival|title}} 
                                                <br>{{ transferArrival.customerCard.agency|title }}
                                            </td>
                                            <td> <input class="form-control" type="time" value="{{ transferArrival.getMeetingAtTime}}" name="hour_{{ transferArrival.id }}"/></td> 
                                            <td> 
                                                <select class="form-select" name="staff_{{ transferArrival.id }}" title="Rep">
                                                    {% for user in users %}
                                                        {% if "ROLE_REP" in user.roles %}
                                                            <option value="{{user.id}}" {{ user.id == transferArrival.staff.id ? "selected" : ""}}  >{{user.username}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td> 
                                            <td>
                                                <select class="form-select" name="meetingPoint_{{ transferArrival.id }}" title="meeting point"> 
                                                    {% for meetingPoint in meetingPoints %}
                                                        {% if (meetingPoint is not null)  %}
                                                            <option value="{{ meetingPoint.id}} " {{ ( (transferArrival.meetingPoint != null) and (transferArrival.meetingPoint.id == meetingPoint.id) ) ? "selected" : ""}}  >{{ (meetingPoint.checkLanguage(app.user.language) != null) ? meetingPoint.checkLanguage(app.user.language) : meetingPoint.en }}</option>
                                                        {% else %}
                                                            <option value="{{meetingPoint.id}}" >{{meetingPoint.name}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td> 
                                        </tr>
                                
                                    {% endfor %}
                            </tbody>
                        </table> #}

                        {% for transferArrival in regroupements|sort((a, b) => a.meetingAt <=> b.meetingAt) %}
                            {% set agency = transferArrival.customerCard.agency.id %}
                            {% set hotel = transferArrival.toArrival.id %}
                            {% set flightNumber = transferArrival.flightNumber %}          
                            
                            <div class="card my-3 p-3 bg-light shadow"> 
                                <div class="d-flex flex-column flex-lg-row">
                                    <div class="col-lg-4">
                                        <b>A:</b> {{ paxPerHotelAgency['adults'][agency~'_'~hotel~'_'~transferArrival.meetingAt|date('H:i')~'_'~transferArrival.meetingPoint] }}, 
                                        <b>C:</b> {{ paxPerHotelAgency['children'][agency~'_'~hotel~'_'~transferArrival.meetingAt|date('H:i')~'_'~transferArrival.meetingPoint] }}, 
                                        <b>B:</b> {{ paxPerHotelAgency['babies'][agency~'_'~hotel~'_'~transferArrival.meetingAt|date('H:i')~'_'~transferArrival.meetingPoint] }}
                                        <hr class="me-5">
                                        {#  {{  dump(infosTransfer) }} #}
                                            Arrival: {{ transferArrival.fromStart|title }} at {{ transferArrival.hour|date('H:i') }} <br>
                                            {{ transferArrival.toArrival|title}} 
                                        <br>{{ transferArrival.customerCard.agency|title }}
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="d-flex flex-column flex-lg-row">
                                            <input class="form-control mt-3" type="time" value="{{ transferArrival.getMeetingAtTime}}" name="hour_{{ transferArrival.id }}"/>
                                        
                                            <select class="form-select mt-3" name="staff_{{ transferArrival.id }}" title="Rep">
                                                {% for user in users %}
                                                    {% if "ROLE_REP" in user.roles %}
                                                        <option value="{{user.id}}" {{ user.id == transferArrival.staff.id ? "selected" : ""}}  >{{user.username}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <select class="form-select mt-3" name="meetingPoint_{{ transferArrival.id }}" title="meeting point"> 
                                                {% for meetingPoint in meetingPoints %}
                                                    {% if (meetingPoint is not null)  %}
                                                        <option value="{{ meetingPoint.id}} " {{ ( (transferArrival.meetingPoint != null) and (transferArrival.meetingPoint.id == meetingPoint.id) ) ? "selected" : ""}}  >{{ (meetingPoint.checkLanguage(app.user.language) != null) ? meetingPoint.checkLanguage(app.user.language) : meetingPoint.en }}</option>
                                                    {% else %}
                                                        <option value="{{meetingPoint.id}}" >{{meetingPoint.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                        <input 
                            type="submit"
                            value="{% trans %}Submit{% endtrans %}" 
                            class="btn btn-success waves-effect waves-light"
                        >
                    </form>
                </div>
            </div>
        </div>
    </div>


{{ include('partials/footer-regroupement.html.twig') }}
