{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Contacts', title: 'User Grid'}) }}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">Attributions rep</h4>

                            <form action={{ path('app_admin_team_manager') }} method="GET">
                                <input name="date" type="date" value="{{date | date('Y-m-d') }}">
                                <input type="submit">
                            </form>

                            <a href="{{ path('app_admin_team_manager_replist') }}" class="btn btn-secondary my-3">Briefing Rep</a>

                            {% if notClient is defined %} 
                                
                                <p class="alert alert-success" role="alert">Pas ou plus de client à attribuer pour cette date.</p>

                                {% else %}
                                    <p class="alert alert-danger" role="alert">Il reste encore {{ countNonAttributedClients }} client(s)  à attribuer </p>

                                    <div class="mb-3">
                                        Date d'arrivée: 
                                            <b>{% for arrival in firstClient.transferArrivals  %}
                                                    {{ arrival.date| date('d-m-Y')}}
                                               {% endfor %}
                                            </b><br>
                                        Agence: <strong>{{ firstClient.agency }}</strong> <br>
                                        Hôtel:
                                        {% for infosTransfer in firstClient.transferArrivals %}
                                            <strong>{{ infosTransfer.toArrival}}</strong><br/>
                                        {% endfor %}
                                        <p>
                                            Pax: <b>Adults: {{ paxAdults }}, Children:  {{ paxChildren }}, Babies: {{ paxBabies }}</b>
                                        </p>

                                        
                                    </div>

                                {{ form(form) }}
                            {% endif %}

                    </div>
                
                </div>
            </div>
        </div> <!-- end col-->
    </div>

    <div class="row">
        <div class="col">
             <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">Dates with unassigned reps</h4>
                            <ul>
                            {% if daterestantes is not null %}
                                {% for result in daterestantes %}
                                    <li>{{ result.date| date('d-m-Y') }}</li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ include('partials/footer-regroupement.html.twig') }}
