{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Forms', title: 'File Upload'}) }}

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div>

                                            <form name="drag_and_drop" method="post" action="{{ path('admin_traitement_csv')}}" enctype="multipart/form-data" class="dropzone dz-clickable">
                                                <div class="dz-message needsclick">
                                                    

                                                        <div class="mt-4" data-controller="symfony--ux-dropzone--dropzone">
                                                            <input type="file" id="drag_and_drop_name" name="drag_and_drop[fileToUpload]" required="required" placeholder="Drag and drop or browse" data-controller="" class="dropzone-input" data-symfony--ux-dropzone--dropzone-target="input" style="display: block;">

                                                            <div class="dropzone-placeholder" data-symfony--ux-dropzone--dropzone-target="placeholder" style="display: block;">
                                                                <div class="mb-3">
                                                                    <i class="display-4 text-muted uil uil-cloud-upload"></i>
                                                                </div>
                                                
                                                                    <h4>{% trans %}Drop files here or click to upload{% endtrans %}.</h4>
                                                            </div>

                                                            <div class="dropzone-preview" data-symfony--ux-dropzone--dropzone-target="preview" style="display: none">
                                                                <button class="dropzone-preview-button" type="button" data-symfony--ux-dropzone--dropzone-target="previewClearButton"></button>

                                                                <div class="dropzone-preview-image" style="display: none; background-image: none;" data-symfony--ux-dropzone--dropzone-target="previewImage">
                                                                </div>

                                                                <div data-symfony--ux-dropzone--dropzone-target="previewFilename" class="dropzone-preview-filename">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <small>        </small>

                                                        <div class="form-error">

                                                        </div>
                                                
                                                </div>
                                                <div class="text-center">
                                                    <button class="my-5 btn btn-primary waves-effect waves-light">{% trans %}Save{% endtrans %}</button>
                                                </div>
                                                    <input type="hidden" name="token" value="{{ csrf_token('upload-item') }}"/>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> <!-- end col-->
                        </div>
                    </div>
                </div>

{{ include('partials/footer-regroupement.html.twig') }}


