{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Team Manager', title: 'Reps Briefings'}) }}


        <div class="row mb-3">    
            <form action={{ path('app_admin_team_manager_replist') }} method="GET">
                <input name="date" type="date" value="{{date | date('Y-m-d') }}">
                <input type="submit" class="btn btn-primary waves-effect waves-light btn-sm">
            </form>
        </div>

        {% if countNonAssignedClient > 0 %}
            <p class="alert alert-danger" role="alert">{{ countNonAssignedClient }} {{ (countNonAssignedClient>1) ? "groups" : "group" }} of client do not yet have a meeting time assigned</p>
        {% else %}
            <p class="alert alert-success" role="alert">No or more client groups to assign for this date.</p>
        {% endif %}

        <p class="alert alert-info" role="alert">
            Arrival date: <b>{{ date|date_modify("-1 day")| date('d-m-Y')}}</b><br/>
            Briefing date: <b>{{ date| date('d-m-Y')}}</b>
        </p>

        <div class="row">
            
            {% for user in users %}
                <div class="col-sm-5 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ user }} </h5>

                                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) ) %}
                                    {% set rights = true %}
                                {% elseif  app.user == user %}
                                    {% set rights = true %}
                                {% else %}
                                    {% set rights = false %}
                                {% endif %}

                                {% set paxCount = paxTab[user.username]['adults'] + paxTab[user.username]['children'] + paxTab[user.username]['babies'] %}

                                {% if paxCount == 0 %}  <p class="card-text">Ce rep n'a pas de client attribué ce jour.</p> 
                                {% else %}   
                                <p>Adults: {{ paxTab[user.username]['adults'] }}  / Children: {{ paxTab[user.username]['children'] }}  / Babies: {{ paxTab[user.username]['babies'] }} </p>
                                {% endif %}






                                <hr>
                                {% for regroupement in regroupementsClients %}
                                    {% if (regroupement is empty) %}                                                        
                                    {% endif %}
                                    {% if regroupement.staff == user %}
                                        <p class="card-text {{ (regroupement.getMeetingAtTime == '00:01') ? "text-danger" : "text-success" }}">
                                            {# Définir l'hotel pour avoir accès a ses propriétés id name etc #}
                                            {% set hotel = null %}
                                            {% for infosTransfer in regroupement.transferArrivals %}
                                                {# Construire le tableau #}
                                                {% set hotel =  infosTransfer.toArrival %}
                                            {% endfor %}
                                            <strong>{{ hotel.name|title }}</strong><br/>
                                            <strong>{{ regroupement.agency|title }}</strong><br/>
                                            <strong>Pax:</strong>
                                            {# Récupération des infos de pax pour chaque "regroupement et adultes/enfants/bébés #}
                                            {% if paxPerHotelAgency[user.username~'_adults'][regroupement.agency.id~'_'~hotel.id] is defined %}
                                                A: {{ paxPerHotelAgency[user.username~'_adults'][regroupement.agency.id~'_'~hotel.id] }}, 
                                            {% endif %}
                                            {% if paxPerHotelAgency[user.username~'_children'][regroupement.agency.id~'_'~hotel.id] is defined %}
                                                N: {{ paxPerHotelAgency[user.username~'_children'][regroupement.agency.id~'_'~hotel.id] }}, 
                                            {% endif %}
                                            {% if paxPerHotelAgency[user.username~'_babies'][regroupement.agency.id~'_'~hotel.id] is defined %}
                                                B: {{ paxPerHotelAgency[user.username~'_babies'][regroupement.agency.id~'_'~hotel.id] }} 
                                            {% endif %}
                                            <br/>
                                            Meeting at: {{ regroupement.getMeetingAtTime }} - {{ regroupement.meetingPoint != null ? regroupement.meetingPoint.name  : "" }}
                                        </p>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                                {% if rights %}
                                    <a href="{{ path('app_admin_team_manager_fiche_par_date', {user: user.id })}}" class="btn btn-primary">Modifier Heure / Representant</a> 
                                {% endif %}
                        </div>              
                    </div>
                </div>
            {% endfor %}
        </div>

{{ include('partials/footer-regroupement.html.twig') }}

