{{ include('partials/main.html.twig') }}

    <head>

        {{ include('partials/title-meta.html.twig', {title: 'Labels printing'}) }}

        {{ include('partials/head-css.html.twig') }}

        <script type="text/javascript">
              function imprimer_page(){
              window.print();
              }
          </script>


        <style>



            body {
                margin: 0.56in 0.15in 0.48in 0.15in;
            }
            @page {
                size: letter;
            }
            
            .break{
                page-break-after: always;

            }

            @media print {
                
                .labels-container {
                display: grid;
                grid-template-columns: repeat(2, 4in);
                grid-template-rows: repeat(5, 2in);
                gap: 0in 0.16in;
                box-sizing: border-box;
                } 

                .container-suivant {
                    margin: 0.56in 0.15in 0.48in 0in;
                }
                .label {
                display: inline-block;
                width: 4in;
                height: 2.01in;
                padding: 10px 15px;
                box-sizing: border-box;
                border-radius: 10px; 
                font-size: 15px;
                line-height: 15px;
				position: relative;
                }

				.line-height-5 {
                line-height: 5px;

				}

              .main-content,.page-content,.container-fluid {
                margin: 0px;
                padding: 0px;
              }

				.qrcode {
					text-align:center;
					position: absolute;
					left: 3.2in;
					top: 1in;
					border: 1px black solid;
					border-radius: 10px;
					padding-top: 5px;
				}
				.chattez-rep {
					-webkit-print-color-adjust:exact !important;
  					print-color-adjust:exact !important;
					font-size: 10px;
					line-height: 10px;
					margin-top: 5px;
					background-color: green;
					border-radius: 0 0 8px 8px;
					padding: 2px;
					color: white;
					font-weight: bold;
				}

				.notImpressed {
					display: none;
				}

				.crimson {
					color: crimson;
		
				}

            }

        </style>



    </head>

    {{ include('partials/body.html.twig') }}

        <!-- Begin page -->
        <div id="layout-wrapper">

            {{ include('partials/menu.html.twig') }}


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
			    {{ include('partials/page-title.html.twig', {pagetitle: 'Team Manager', title: 'Labels printing'}) }}

					<div class="notImpressed">
						<div class="text-center">
							<form action="{{ path('app_admin_stickers_par_date') }}" method="GET">
								<input name="date" type="date" value="{{date | date('Y-m-d') }}">
								<input type="submit" class="btn btn-primary waves-effect waves-light btn-sm">
							</form>
						</div>

						<div class="text-center my-3">
							<form>
								<input class=" btn btn-success .btn-soft-success  waves-effect waves-light btn-sm" id="impression" name="impression" type="button" onclick="imprimer_page()" value="Imprimer cette page" />
							</form>
						</div>
					</div>
			<div class="break">	
				{% set i = 1 %} 
				{% set page = 1 %} 

				{% for meetingInfos in meetings %}
						
					{% if (i == 1) %} 
						{% set pagesSuivantes = (page == 1 ? "" : "container-suivant" ) %}
						<div class="labels-container {{ pagesSuivantes }}">
					{% endif %} 

						<div class="label d-flex flex-column justify-content-between">
							
							
							
							{% if meetingInfos.staff %}

							<div class="qrcode">
								{% if meetingInfos.staff.phoneNumber is defined and  meetingInfos.staff.phoneNumber is not null %}   
									<img src="{{ qr_code_url('wa.me/' ~ meetingInfos.staff.phoneNumber) }}" /> <br>
									<div class="chattez-rep">Chattez Avec<br>{{ meetingInfos.staff }}</div>
								{% endif %}
							</div>

							{% endif %}

							<div class="mt-2">
								<p class="my-1"><strong>Nom: </strong> {{ meetingInfos.holder }}</p>
								<p class="mt-1 mb-2"><strong>Hôtel:</strong> 
									{% for infosTransfer in meetingInfos.transferArrivals %}
										{{ infosTransfer.toArrival}}
									{% endfor %}
								</p>
							</div>
							<div class="mb-2">
								<p class="line-height-5" ><strong class="crimson">Reunion de Bienvenue &amp; d'Information</strong></p>
								<p class="line-height-5"><strong class="crimson"> Demain à {{ meetingInfos.meetingAtTime }} </strong></p>
								<p class="line-height-5">Lieu de rencontre: <strong class="crimson">{{ (meetingInfos.meetingPoint.name is defined) ? meetingInfos.meetingPoint.name : ""}} </strong></p>
								<p class="line-height-5">Votre représentant: <strong class="crimson">{{ meetingInfos.staff }}</strong></p>
								<p class="line-height-5">Whatsapp:  
									{% if meetingInfos.staff.phoneNumber is defined and  meetingInfos.staff.phoneNumber is not null %}<strong>+ {{ meetingInfos.staff.phoneNumber }} </strong>{% endif %}
									
								</p>
							</div>
						</div>

					{% if (i == 10) %}     
						</div></div>
					{% endif %}
					{# si $i = 10 alors $i == 1 sinon $i++ #}
					{% if (i == 10) %}  
						{% set i = 1 %} 
						{% set page = page + 1 %}
						<div class="break">
					{% else %}  
						{% set i = i + 1 %} 
					{% endif %} 

				{% endfor %}
				</div>
			</div>


        <!-- Bloc Javascript -->
{#         <script>
            let myRules = document.styleSheets[0].cssRules;
            console.log(myRules[0]); // a CSSPageRule

        </script> #}

    </body>
</html>





{{ include('partials/footer-regroupement.html.twig') }}
