{{ include('partials/main.html.twig') }}

    <head>

        {{ include('partials/title-meta.html.twig', {title: 'Labels printing'}) }}

        {{ include('partials/head-css.html.twig') }}

        <script type="text/javascript">
              function imprimer_page(){
              window.print();
              }
          </script>

 		<script type="text/javascript">  
            function selects(){  
                var ele=document.getElementsByClassName('chk');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=true;  
                }  
            }  
            function deSelect(){  
                var ele=document.getElementsByClassName('chk');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=false;  
                      
                }  
            }             
        </script>  



        <style>



            body {
                margin: 0.56in 0.15in 0.48in 0.15in;
            }
            @page {
                size: letter;
            }
            
            .break{
                page-break-after: always;

            }

            @media print {
                
                .labels-container {
                display: grid;
                grid-template-columns: repeat(2, 4in);
                grid-template-rows: repeat(5, 2in);
                gap: 0in 0.16in;
                box-sizing: border-box;
                } 

                .container-suivant {
                    margin: 0.56in 0.15in 0.48in 0in;
                }
                .label {
                display: inline-block;
                width: 4in;
                height: 2.01in;
                padding: 10px 15px;
                box-sizing: border-box;
                border-radius: 10px; 
                font-size: 15px;
                line-height: 15px;
				position: relative;
                }

				.line-height-5 {
                line-height: 5px;

				}

              .main-content,.page-content,.container-fluid {
                margin: 0px;
                padding: 0px;
              }

				.qrcode {
					text-align:center;
					position: absolute;
					left: 3.0in;
					top: 1in;
					border: 1px black solid;
					border-radius: 10px;
					padding-top: 5px;
				}
				.chattez-rep {
					-webkit-print-color-adjust:exact !important;
  					print-color-adjust:exact !important;
					font-size: 10px;
					line-height: 10px;
					margin-top: 5px;
					background-color: green;
					border-radius: 0 0 8px 8px;
					padding: 2px;
					color: white;
					font-weight: bold;
				}

				.notImpressed {
					display: none;
				}

				.crimson {
					color: crimson;
		
				}

            }

        </style>



    </head>

    {{ include('partials/body.html.twig') }}
	
        <!-- Begin page -->
        <div id="layout-wrapper">

            {{ include('partials/menu.html.twig') }}


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
			    		{{ include('partials/page-title.html.twig', {pagetitle: 'Team Manager', title: 'Labels printing'}) }}

						<div class="notImpressed">


							<div class="text-center mb-3">

									<div class="accordion accordion-flush" id="accordionFlushExample">
										<div class="accordion-item border">
											<h2 class="accordion-header">
											<button class="accordion-button collapsed border border-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
												{% trans %}Choose the agencies/Airports to print{% endtrans %}
											</button>
											</h2>
											<div id="flush-collapseOne" class="accordion-collapse collapse p-2 bg-white border border-primary mb-3" data-bs-parent="#accordionFlushExample">

												<form action="" method="post">
													<input type="hidden" name="form_check_agencies" id="form_check_agencies" value="ok">

													<div>
														<h2>{% trans %}Airports{% endtrans %}</h2>
														
														{% for airport in airports|sort((a,b)=>a.name <=> b.name )%}
															<div class="form-check">
																<input class="form-check-input" type="checkbox" id="airport_{{airport.id}}" name="airport_{{airport.id}}" 
																	{% if  printingOptionsUser != null %}
																		{% for currentAirport in printingOptionsUser.airport %} 
																			{{ currentAirport.id == airport.id ? "checked" : "" }}
																		{% endfor %} 
																	{% endif %}
																/>
																<label class="form-check-label" for="airport_{{airport.id}}">{{airport.name|title}}</label>
															</div>
														{% endfor %}
													</div>

													<div>
														<h2>{% trans %}Agencies{% endtrans %}</h2>

														<div class="my-3">
															<a class="btn btn-success waves-effect waves-light btn-sm" type="button" onclick='selects()'/><i class="mdi mdi-plus me-2"></i>Select All</a> 
															<a class="btn btn-warning waves-effect waves-light btn-sm" type="button" onclick='deSelect()'/> <i class="mdi mdi-minus me-2"></i>Deselect All</a> 
														</div>

														{% for agency in agencies|sort((a,b)=>a.name <=> b.name )%}
															<div class="form-check">
																<input class="form-check-input chk" type="checkbox" id="agency_{{agency.id}}" name="agence_{{agency.id}}"
																	{% if  printingOptionsUser != null %}
																		{% for currentAgency in printingOptionsUser.agencies %} 
																			{{ currentAgency.id == agency.id ? "checked" : "" }}
																		{% endfor %} 
																	{% endif %}
																
																
																/>
																<label class="form-check-label" for="agency_{{agency.id}}">{{agency.name|title}}</label>
															</div>
														{% endfor %}
													</div>

													<input type="submit" value="{% trans %}Update{% endtrans %}" class="btn btn-primary waves-effect waves-light btn-sm">

												</form>
											</div>
										</div>
									</div>
							</div>

							<div class="card">
									<div class="text-center">
										<div class="card-body">
											<h5 class="card-title">{% trans %}Print form{% endtrans %}</h5>
											<div class="row justify-content-center">
												<div class="col-md-3">
												<form action="{{ path('app_admin_stickers_par_date') }}" method="GET" class="form-control">
													<div class="my-3">
														<label for="date">{% trans %}Arrival Date{% endtrans %}</label>
														<input class="form-control" id="date" name="date" type="date" value="{{date | date('Y-m-d') }}">
													</div>
													<div class="my-3">
														<label for="labelNumber">{% trans %}Print from{% endtrans %}
															<!-- Button trigger modal -->
															<button type="button" class="badge bg-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
															?
															</button>

															<!-- Modal -->
															<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered">
																	<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="exampleModalLabel">{% trans %}Label layout{% endtrans %}</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-body">
																			<img src="{{ asset("images/etiquettes.jpg")}}">
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
																	</div>
																	</div>
																</div>
															</div>														
														</label>
														<select class="form-select" id="labelNumber" aria-label="Print from" name="labelNumber">
															{% for i in 1..10 %}
																<option value="{{i}}" {{ (app.request.get('labelNumber') == i) ? "selected" : "" }}>{% trans %}Label{% endtrans %} {{i}}</option>
															{% endfor %}
														</select>
													</div>
													<div class="my-3">
														<input type="submit" value="{% trans %}Validate{% endtrans %}" class="btn btn-primary waves-effect waves-light btn-sm ">
													</div>
												</form>
												</div>
											</div>

										</div>
									</div>

									{% for message in app.flashes('danger') %}
										<div class="alert alert-danger text-center m-3">
											<p>
												<b>{{ message|trans }}</b>
											<p>
										</div>
									{% endfor %}
								
									{% if formAgencySend == false  %}
										<div class="text-center my-3">
											<form>
												<input class="btn btn-success .btn-soft-success  waves-effect waves-light btn-sm" id="impression" name="impression" type="button" onclick="imprimer_page()" value="{% trans %}Print{% endtrans %}" />
											</form>
										</div>
									{% endif %}
							</div>
						</div>
						<div class="notImpressed row justify-content-center">
							{% for meetingInfos in meetings %} 
								{% if meetingInfos.meetingAt is null %} 
									<div class="text-center text-white border border-dark col-lg-3 rounded bg-danger py-3">
										{% trans %}Reservation number{% endtrans %}: {{ meetingInfos.reservationNumber}}<br>
										{% trans %}Meeting date is missing{% endtrans %}<br>
										<a class="btn btn-primary btn-sm mt-3" href="{{ path('app_customer_card_show', {'id' : meetingInfos.id})}}">{% trans %}Go to Client Card{% endtrans %}</a>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="break">	
							{% set i = 1 %} 
							{% set page = 1 %} 
							{# '' == null == en #}
							{% set 
								languageTab = {
									0 : {
										'fr': "Chattez Avec", 
										'' : "Chats with", 
										'en' : "Chats with", 
										'es' : "Chatear con",  
										'it' : "Chattare con", 
										'po' : "Converse com o", 
										},
									1 : {
										'fr': "Nom", 
										'' : "Name", 
										'en' : "Name", 
										'es' : "Apellido",  
										'it' : "Cognome",
										'po' : "Sobrenome", 
										},
									2 : {
										'fr': "Hôtel", 
										'' : "Hotel", 
										'en' : "Hotel", 
										'es' : "Hotel",  
										'it' : "Hotel", 
										'po' : "Hotel", 
										},
									3 : {
										'fr': "Réunion de Bienvenue & d'Information", 
										'' : "Welcome and Information Meeting", 
										'en' : "Welcome and Information Meeting", 
										'es' : "Reunión informativa y de bienvenida",  
										'it' : "Incontro di benvenuto e informativo", 
										'po' : "Reunião de Boas-vindas e Informações", 
										},
									4 : {
										'fr': "Demain à", 
										'' : "Tomorrow at",
										'en' : "Tomorrow at",
										'es' : "Mañana a",  
										'it' : "Domani alle",  
										'po' : "Amanhã às", 
										},
									5 : {
										'fr': "Lieu de rencontre", 
										'' : "Meeting Place", 
										'en' : "Meeting Place", 
										'es' : "Lugar de encuentro", 
										'it' : "Luogo di incontro", 
										'po' : "Local de encontro", 
										},
									6 : {
										'fr': "Votre représentant",
										'' : "Your representative", 
										'en' : "Your representative", 
										'es' : "Su representante", 
										'it' : "Il rappresentante", 
										'po' : "Seu representante", 
										},
								}
								
							%}
							
							{% set labelNumber = app.request.get('labelNumber') %}

							{% for meetingInfos in meetings %} 

								{% set currentLanguage = meetingInfos.customerCard.agency.language %}
		
								{% if (i == 1) %} 
									{% set pagesSuivantes = (page == 1 ? "" : "container-suivant" ) %}
									<div class="labels-container {{ pagesSuivantes }}">
								{% endif %} 

									{% if labelNumber > 1 %}
									{% set labelNumber = labelNumber - 1 %}
										{% for j in 1..labelNumber %}
											<div class="label d-flex flex-column justify-content-between"></div>
											{% set i = i + 1 %}
										{% endfor %}
									{% endif %}
									{% set labelNumber = 0 %}

									<div class="label d-flex flex-column justify-content-between">
										
										{% if meetingInfos.staff %}

										<div class="qrcode">
											{% if meetingInfos.staff.phoneNumber is defined and  meetingInfos.staff.phoneNumber is not null %}   
												<img src="{{ qr_code_url('wa.me/' ~ meetingInfos.staff.phoneNumber) }}" /> <br>
												<div class="chattez-rep">{{ languageTab[0][currentLanguage] }}<br>{{ meetingInfos.staff }}</div>
											{% endif %}
										</div>

										{% endif %}

										<div class="mt-2">
											<p class="my-1"><strong>{{ languageTab[1][currentLanguage] }}: </strong> {{ meetingInfos.customerCard.holder|title }}</p>
											<p class="mt-1 mb-2"><strong>{{ languageTab[2][currentLanguage] }}:</strong> 		
												{{ meetingInfos.toArrival|title}}	
											</p>
										</div>
										<div class="mb-2">
										
											<p class="line-height-5" ><strong class="crimson">{{ languageTab[3][currentLanguage] }}</strong></p>
											<p class="line-height-5"><strong class="crimson"> {{ languageTab[4][currentLanguage] }}{% if meetingInfos.meetingAt is null %}   {% else %} {{ meetingInfos.meetingAtTime }} {% endif %}</strong></p>
											<p class="line-height-5">{{ languageTab[5][currentLanguage] }}: 
												<strong class="crimson">
													{% if ((meetingInfos.meetingPoint.checkLanguage(currentLanguage) is defined) and  (meetingInfos.meetingPoint.checkLanguage(currentLanguage) != NULL))%} 
														{{ meetingInfos.meetingPoint.checkLanguage(currentLanguage) }}
													{% elseif ( (meetingInfos.meetingPoint.en is defined) and  (meetingInfos.meetingPoint.en != NULL) ) %} 
														{{ meetingInfos.meetingPoint.en }} 												
													{% else %}
													    ??? 
													{% endif %}
													
												</strong>
											</p>
											<p class="line-height-5">{{ languageTab[6][currentLanguage] }}: <strong class="crimson">{{ meetingInfos.staff|title }}</strong></p>
											<p class="line-height-5">Whatsapp:  
												{% if meetingInfos.staff.phoneNumber is defined and  meetingInfos.staff.phoneNumber is not null %}<strong>+ {{ meetingInfos.staff.phoneNumber }} </strong>{% endif %}
												
											</p>
										</div>
									</div>

								{% if (i == 10) %}     
									</div></div>
								{% endif %}
								{# si $i = 10 alors $i == 1 sinon $i++ #}
								{% if (i == 10) %}  
									{% set i = 1 %} 
									{% set page = page + 1 %}
									<div class="break">
								{% else %}  
									{% set i = i + 1 %} 
								{% endif %} 

							{% endfor %}
							</div>
						</div>


        <!-- Bloc Javascript -->
		{#         <script>
            let myRules = document.styleSheets[0].cssRules;
            console.log(myRules[0]); // a CSSPageRule

        </script> #}

    </body>
</html>





{{ include('partials/footer-regroupement.html.twig') }}
