<!DOCTYPE html>

<title>TransferDeparture</title>

{% block body %}
    <h1>TransferDeparture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transfer_departure.id }}</td>
            </tr>
            <tr>
                <th>ServiceNumber</th>
                <td>{{ transfer_departure.serviceNumber }}</td>
            </tr>
            <tr>
                <th>DateHour</th>
                <td>{{ transfer_departure.dateHour ? transfer_departure.dateHour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FlightNumber</th>
                <td>{{ transfer_departure.flightNumber }}</td>
            </tr>
            <tr>
                <th>IsCollective</th>
                <td>{{ transfer_departure.isCollective ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transfer_departure.date ? transfer_departure.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Hour</th>
                <td>{{ transfer_departure.hour ? transfer_departure.hour|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transfer_departure_index') }}">back to list</a>

    <a href="{{ path('app_transfer_departure_edit', {'id': transfer_departure.id}) }}">edit</a>

    {{ include('transfer_departure/_delete_form.html.twig') }}
{% endblock %}
