<div class="bottom-navbar d-flex flex-row justify-content-evenly d-lg-none">
    <div>
        <a href="{{ path('app_admin_rep_replist')}}" {{ (briefingsMenu is defined) ? 'class="active"' }}>
            <span class="fs-1"><i class="uil-calendar-alt"></i></span><br>
            <span>Briefings</span>
        </a>
    </div>
    <div>
        <a href="#departure" {{ (transfersMenu is defined) ? 'class="active"' }}>
            <span class="fs-1"><i class="uil-arrows-h-alt fs-1"></i></span><br>
            <span>Transfers</span>
        </a>
    </div>
    <div>
    <a href="{{ path('app_customer_card_pax_par_rep', {id: app.user.id})}}" {{ (paxMenu is defined) ? 'class="active"' }}>
        <span class="fs-1"><i class="uil-users-alt fs-1"></i></span><br>
        <span>Pax</span>
    </a>
    </div>
    <div>            
        <a href="{{ path('app_customer_card_index')}}" {{ (clientsMenu is defined) ? 'class="active"' }}>
            <span class="fs-1"><i class="fas fa-id-card"></i></span><br>
            <span>Clients</span>
        </a>
    </div>    
</div>