<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="{{ path('home') }}" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/images/logo-dark.png" alt="" height="20">
            </span>
        </a>

        <a href="{{ path('home') }}" class="logo logo-light">
            <span class="logo-sm">
                <img src="/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/images/logo-light.png" alt="" height="20">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                {% if ( ("ROLE_HULK" in app.user.roles) or 
                        ("ROLE_SUPERMAN" in app.user.roles) or 
                        ("ROLE_OPERATIONS" in app.user.roles) or 
                        ("ROLE_IMPORT" in app.user.roles)  or 
                        ("ROLE_RESERVATIONS" in app.user.roles) or
                        ("ROLE_TRANSFERS" in app.user.roles) )
                %} 
                <li class="menu-title">{% trans %}Import File{% endtrans %}</li>
                {% endif %} 

                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) or ("ROLE_IMPORT" in app.user.roles) or 
                        ("ROLE_RESERVATIONS" in app.user.roles)) %} 
                <li>
                    <a href="{{ path('app_import') }}">
                        <i class="uil-import"></i>
                        <span>{% trans %}Import Booking{% endtrans %}</span>
                    </a>
                </li>
                {% endif %}
                
                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) or ("ROLE_IMPORT" in app.user.roles) or ("ROLE_TRANSFERS" in app.user.roles)) %} 
                <li>
                    <a href="{{ path('app_transfer_import') }}">
                        <i class="uil-import"></i>
                        <span>{% trans %}Import Transfers{% endtrans %}</span>
                    </a>
                </li>
                {% endif %}

                <li class="menu-title">{% trans %}Clients{% endtrans %}</li>

                <li>
                    <a href="{{ path('app_customer_card_index') }}">
                        <i class="fas fa-id-card"></i>
                        <span>{% trans %}Clients Cards{% endtrans %}</span>
                    </a>
                </li>

                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) ) %} 
                <li>
                    <a href="{{ path('app_customer_card_new') }}">
                        <i class="fas fa-id-card"></i>
                        <span>{% trans %}New Client{% endtrans %}</span>
                    </a>
                </li>
                {% endif %}
                        
                
                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_REP" in app.user.roles) ) %} 
                    <li>
                        <a href="{{ path('app_admin_rep_replist') }}">
                            <i class="uil-pen"></i>
                            <span>{% trans %}My briefings{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}

                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) or ("ROLE_BRIEFING" in app.user.roles) or ("ROLE_AIRPORT_SUPERVISOR" in app.user.roles)) %} 
                    <li class="menu-title">{% trans %}Briefing Manager{% endtrans %}</li>

                    <li>
                        <a href="{{ path('app_admin_team_manager') }}">
                            <i class="uil-pen"></i>
                            <span>{% trans %}Rep assignment{% endtrans %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_team_manager_replist') }}">
                            <i class="uil-calendar-alt"></i>
                            <span>{% trans %}Rep Briefings{% endtrans %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_stickers_par_date') }}">
                            <i class="uil-print"></i>
                            <span>{% trans %}Labels printing{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}

                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) ) %} 
                    <li>
                        <a href="{{ path('app_customer_card_pax') }}">
                            <i class="uil-users-alt"></i>
                            <span>{% trans %}Pax calculation{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}
                
                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_REP" in app.user.roles) ) %} 
                    <li>
                        <a href="{{ path('app_customer_card_pax_par_rep', {'id': app.user.id }) }}">
                            <i class="uil-users-alt"></i>
                            <span>{% trans %}My pax{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}

                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) or ("ROLE_AIRPORT_SUPERVISOR" in app.user.roles) or ("ROLE_AIRPORT" in app.user.roles) ) %} 
                    <li class="menu-title">{% trans %}Airport Team{% endtrans %}</li>

                    <li>
                        <a href="{{ path('app_customer_card_airport') }}">
                            <i class="uil-print"></i>
                            <span>{% trans %}Clients Arrivals{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}

                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) or ("ROLE_TRANSFERS" in app.user.roles)) %} 
                    <li class="menu-title">{% trans %}Accounting{% endtrans %}</li>

                    <li>
                        <a href="{{ path('app_customer_card_transportation_management', {'id': 1 }) }}">
                            <i class="uil-bus"></i>
                            <span>{% trans %}Transfer calculation{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}

                {% if ( ("ROLE_HULK" in app.user.roles) or ("ROLE_SUPERMAN" in app.user.roles) ) %} 
                    <li class="menu-title">_______________</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="uil-setting"></i>
                            <span>{% trans %}General Settings{% endtrans %}</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="{{ path('app_user_list')}}"><i class="uil-user"></i>{% trans %}Users{% endtrans %}</a></li>
                            <li><a href="{{ path('app_area_index')}}"><i class="uil-location-point"></i>{% trans %}Areas{% endtrans %}</a></li>
                            <li><a href="{{ path('app_meeting_point_index')}}"><i class="uil-map-pin"></i>{% trans %}Briefing Places{% endtrans %}</a></li>
                            <li><a href="{{ path('app_agency_index')}}"><i class="uil-home"></i>{% trans %}Agencies{% endtrans %}</a></li>

                            {% if ("ROLE_HULK" in app.user.roles) %}
                                <li><a href="{{ path('app_status_index')}}"><i class="uil-check-square"></i>{% trans %}Client Status{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <li>
                         <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="uil-setting"></i>
                            <span>{% trans %}Backup{% endtrans %}</span>
                        </a>

                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="{{ path('app_backup_reservation')}}"><i class="uil-user"></i>{% trans %}Reservations{% endtrans %}</a></li>
                            <li><a href="#"><i class="uil-location-point"></i>{% trans %}Transfers{% endtrans %}</a></li>
                        </ul>
                    </li> 
                {% endif %}
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->