<!DOCTYPE html>

<title>TransferJoan index</title>

{% block body %}
    <h1>TransferJoan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FromStartJoan</th>
                <th>ToArrivalJoan</th>
                <th>DateHourJoan</th>
                <th>FlightNumberJoan</th>
                <th>PrivateCollectiveJoan</th>
                <th>PickupTime</th>
                <th>TransportCompany</th>
                <th>VehicleNumber</th>
                <th>VehicleType</th>
                <th>TransferArea</th>
                <th>VoucherNumber</th>
                <th>AdultsNumber</th>
                <th>ChuldrenNumber</th>
                <th>BabiesNumber</th>
                <th>NatureTransfer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transfer_joan in transfer_joans %}
            <tr>
                <td>{{ transfer_joan.id }}</td>
                <td>{{ transfer_joan.fromStartJoan }}</td>
                <td>{{ transfer_joan.toArrivalJoan }}</td>
                <td>{{ transfer_joan.dateHourJoan ? transfer_joan.dateHourJoan|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transfer_joan.flightNumberJoan }}</td>
                <td>{{ transfer_joan.privateCollectiveJoan }}</td>
                <td>{{ transfer_joan.pickupTime ? transfer_joan.pickupTime|date('H:i:s') : '' }}</td>
                <td>{{ transfer_joan.transportCompany }}</td>
                <td>{{ transfer_joan.vehicleNumber }}</td>
                <td>{{ transfer_joan.vehicleType }}</td>
                <td>{{ transfer_joan.transferArea }}</td>
                <td>{{ transfer_joan.voucherNumber }}</td>
                <td>{{ transfer_joan.adultsNumber }}</td>
                <td>{{ transfer_joan.chuldrenNumber }}</td>
                <td>{{ transfer_joan.babiesNumber }}</td>
                <td>{{ transfer_joan.natureTransfer }}</td>
                <td>
                    <a href="{{ path('app_transfer_joan_show', {'id': transfer_joan.id}) }}">show</a>
                    <a href="{{ path('app_transfer_joan_edit', {'id': transfer_joan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_transfer_joan_new') }}">Create new</a>
{% endblock %}
