{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Minible', title: 'Client Cards'|trans}) }}


                        <div class="alert alert-danger" role="alert">
                        
                        possibilité de changer le status en No show / go show aeroport
                        </div>

                        <div class="alert alert-danger" role="alert">
                            Voucher Number a faire quand le transfert joan arrival sera fait 
                        </div>


                        <form method="GET">
                            <div class="row">
                                <div class="col-lg-3">
                                        {% set now = "now"|date("Y-m-d") %}
                                        <div class="mb-3">
                                            <label class="form-label">{% trans %}Search date{% endtrans %}</label>
                                            <input class="form-control" name="date" placeholder="Date" type="date" value="{{ (app.request.query.get('date') != '') ? app.request.query.get('date') : now }}" id="date">
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="= mb-3">
                                    <label class="form-label">{% trans %}Search Airport{% endtrans %}</label>
                                        <select name="airports" class="form-select" id="airport" >
                                            <option value="all">All airports</option>
                                            {% for airport in airports|sort((a, b) => a.name <=> b.name) %} 
                                                <option value="{{ airport.id }}" 
                                                    {% if app.request.query.get('airports') is defined and app.request.query.get('airports') != null%}
                                                        {% if (app.request.query.get('airports') == airport.id ) %}
                                                            selected
                                                        {% endif %}
                                                    {% elseif app.user.airport is defined %}
                                                    okokokokko
                                                        {% if app.user.airport.id == airport.id %}
                                                            selected
                                                        {% endif %}
                                                    {% else %}
                                                        ''
                                                    {% endif %}
                                                
                                                
                                                 >{{ airport }} {{app.user.airport.id}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="= mb-3">
                                        <label for="flightNumber">{% trans %}Flight Number{% endtrans %}</label>
                                        <input name="flightNumber" type="text" class="form-control" id="flightNumber" placeholder="Flight Numbers" value="{{ (app.request.query.get('flightNumber')) }}">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="= mb-3">
                                        <label for="voucherNumber">{% trans %}Voucher Number{% endtrans %}</label>
                                        <input name="voucherNumber" type="text" class="form-control" id="voucherNumber" placeholder="Voucher Number" value="{{ (app.request.query.get('voucherNumber')) }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center text-md-start col-md-2 ">
                                    <input type="submit" class="btn btn-primary px-5 py-3">
                                </div>

                            </div>

                        </form>


                         <div class="row mt-3">

                            {% for transferArrival in results|sort((a, b) => a.customerCard.holder <=> b.customerCard.holder)  %}

                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        {% if transferArrival.staff is not null %}<div class="ribbon ribbon-top-right"><span>{{ transferArrival.staff }}</span></div>{% endif %}
                                        <div class="card-body">
                                            <div class="d-flex align-items-start">
                                                <div class="d-none d-md-block flex-shrink-0 me-4">
                                                    <div class="avatar-sm">
                                                        <span class="avatar-title bg-soft-primary text-primary font-size-16 rounded-circle">
                                                            <i class="fas fa-id-card text-dark"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 align-self-center">
                                                    <div class="border-bottom pb-1">
                                                        <p class="text-muted">
                                                            <i class="me-1">#</i> {{ transferArrival.customerCard.reservationNumber }}
                                                        </p>
                                                        <h5 class="text-truncate font-size-16 mb-1"><a href="{{ path('app_customer_card_show', {id:transferArrival.customerCard.id}) }}" class="text-dark text-wrap">{{ transferArrival.customerCard.holder|title }}</a></h5>
                                                        <p>
                                                        {% if transferArrival.status == "No Show" %}
                                                            <span class="badge rounded-pill bg-danger">{{ transferArrival.status }}</span>
                                                        {% else %}
                                                            <span class="badge rounded-pill bg-success">{{ transferArrival.status }}</span>
                                                        {% endif %}






                                                        </p>
                                                        <p class="text-muted">
                                                            {{ transferArrival.customerCard.agency|title }}
                                                        </p>
                                                    </div>

        
                                                    <div class="border-bottom mt-3 pt-1 pb-1">
                                                        <p>
                                                            <i class="fas fa-hotel"></i> Arrival: {{ transferArrival.fromStart|title }} - {{ transferArrival.toArrival|title }}
                                                        </p>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Adults{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ transferArrival.adultsNumber }}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Children{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ transferArrival.childrenNumber }}</h5>
                                                            </div>
                                                        </div>                                                    
                                                        <div class="col-4">
                                                            <div class="mt-3">{% trans %}Babies{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ transferArrival.babiesNumber }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-3 p-3 shadow-lg border border-1 border-primary rounded">
                                                        <h6><i class="mdi mdi-airplane-landing"></i> Arrival</h6>
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Date{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ transferArrival.date | date('d-m-Y') }}</h5>
                                                            </div>
                                                        </div>
                                                    <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Hour{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ transferArrival.hour | date('h:i')}}</h5>
                                                            </div>
                                                        </div>            
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Flight{% endtrans %} #</p>
                                                                <h5 class="font-size-16 mb-0">{{ transferArrival.flightNumber }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}


                        </div>

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{{ include('partials/footer-regroupement.html.twig') }}