


{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Client Card'|trans, title: 'Edit Transfer Arrival'|trans}) }}
        <a href="{{ app.request.server.get('HTTP_REFERER') }}" class="btn btn-secondary btn-sm my-3">{% trans %}Back to client{% endtrans %}</a>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <h3 class="mb-3">{% trans %}Edit Arrival{% endtrans %}</h3>
                                {{ include('transfer_vehicle_arrival/_form.html.twig', {'button_label': 'Update'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                        
        {{ include('transfer_vehicle_arrival/_delete_form.html.twig') }}

{{ include('partials/footer-regroupement.html.twig') }}