{{ include('partials/header-reproupement.html.twig') }}

{#     {{ include('partials/page-title.html.twig', {pagetitle: 'Team Manager', title: 'Reps Briefings'}) }} #}



        <div class="row justify-content-center">
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row bd-highlight mb-2 justify-content-center">   
                            <form action={{ path('app_admin_rep_replist') }} method="GET">
                                <div class="text-center">
                                    <input class="form-control mt-3 mb-3" name="date" type="date" value="{{date | date('Y-m-d') }}">
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary waves-effect waves-light btn-sm">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-body">

                        {% if regroupementsClients|length > 0 %}

                        <ul class="activity-feed  mb-0 ps-2">
                            {% for regroupement in regroupementsClients|sort((a, b) => a.meetingAt <=> b.meetingAt) %}
                                {% if (regroupement is not empty) %}                                                        
                                    {% if regroupement.staff == user %}
                                        {% set hotel =  regroupement.toArrival %}
                                        <a href="{{ path('app_admin_rep_fiche_par_date_details',{'user': user.id, 'hour': regroupement.getMeetingAtTime }) }}">
                                            <li class="feed-item  border-top border-primary">
                                                <div class="feed-item-list rep-timeline-box ">
                                                    <p class="badge rounded-pill bg-primary mt-1 mb-3 fs-6">{{ regroupement.getMeetingAtTime }}</p>
                                                    <p class="text-muted mb-1"><b>{{ hotel.name|title }}</b> </p>
                                                    <p class="text-muted mb-1">
                                                    
                                                        {% if paxPerHotelAgency[user.username~'_adults'][regroupement.customerCard.agency.id~'_'~hotel.id~'_'~regroupement.meetingAt|date('H:i')~'_'~regroupement.meetingPoint] is defined %}
                                                            A: {{ paxPerHotelAgency[user.username~'_adults'][regroupement.customerCard.agency.id~'_'~hotel.id~'_'~regroupement.meetingAt|date('H:i')~'_'~regroupement.meetingPoint] }}, 
                                                        {% endif %}
                                                        {% if paxPerHotelAgency[user.username~'_children'][regroupement.customerCard.agency.id~'_'~hotel.id~'_'~regroupement.meetingAt|date('H:i')~'_'~regroupement.meetingPoint] is defined %}
                                                            N: {{ paxPerHotelAgency[user.username~'_children'][regroupement.customerCard.agency.id~'_'~hotel.id~'_'~regroupement.meetingAt|date('H:i')~'_'~regroupement.meetingPoint] }}, 
                                                        {% endif %}
                                                        {% if paxPerHotelAgency[user.username~'_babies'][regroupement.customerCard.agency.id~'_'~hotel.id~'_'~regroupement.meetingAt|date('H:i')~'_'~regroupement.meetingPoint] is defined %}
                                                            B: {{ paxPerHotelAgency[user.username~'_babies'][regroupement.customerCard.agency.id~'_'~hotel.id~'_'~regroupement.meetingAt|date('H:i')~'_'~regroupement.meetingPoint] }} 
                                                        {% endif %}                                           
                            
                                                    </p>

                                                </div>
                                            </li>
                                        </a>
                                    {% endif %}
                                
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% else %}
                        {% trans  %}You don't have any client today{% endtrans %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



{{ include('partials/footer-regroupement.html.twig') }}