{{ include('partials/header-reproupement.html.twig') }}

    <h1>WhatsApp du client</h1>

{# ! Décliné en plusieurs langues ici pour plus de simplicité plutot que d'utiliser la traduction ! #}
{# ! Pas d'intentation pour des messages formatés sur whatsapp #}


{% set 
    languageTab = {
        'nom' : {
            'fr': "Nom", 
            '' : "Name", 
            'en' : "Name", 
            'es' : "Apellido",  
            'it' : "Cognome",
            'po' : "Sobrenome", 
        },
        'from': {
            'fr': "De", 
            '' : "From", 
            'en' : "From", 
            'es' : "De",  
            'it' : "Da",
            'po' : "De", 
        },
        'to': {
            'fr': "A", 
            '' : "To", 
            'en' : "To", 
            'es' : "Al",  
            'it' : "Al",
            'po' : "Para o", 
        },
        'at': {
            'fr': "à", 
            '' : "at", 
            'en' : "at", 
            'es' : "a las",  
            'it' : "alle",
            'po' : "às", 
        },
    }
    
%}


{% set trans_day = { 
  'fr': ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
  'es': ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
  'en': ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
  'it': ["Domenica", "Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato"],
  'po': ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"] 
    } 
%}

{# {{ dump(transferObject) }} #}

{{ transferObject.customerCard.agency.language}}

{# eg: fr #}
{% set language = transferObject.customerCard.agency.language  %} 

{% if language == 'en' %}
    {% set date = transferObject.date|date('Y-m-d') %}
{% else %}
    {% set date = transferObject.date|date('d-m-Y') %}
{% endif %}

{# Entreprise Name #}
{% if app.request.server.get('ENTREPRISE') == 'jumbo' %}
    {% set entreprise = 'Jumbo Tours' %}
{% elseif app.request.server.get('ENTREPRISE') == 'meetingPoint' %}
    {% set entreprise = 'Meeting Point' %}
{% else %}
    {% set entreprise = "Entreprise" %}
{% endif %}


{% if text %}

<div id="message">
{{ text|raw }}
</div>

{% else %}

    {% if natureTransfer == "arrival" %}

        {% if language == 'fr' %}
<div id="message">
Bonjour {{transferObject.customerCard.holder|title}}! Bienvenue à Punta Cana! 🌴

*Je suis {{ transferObject.staff }} votre représentant {{ entreprise }}.*

Vous pouvez me joindre à ce numéro en cas de besoin. 

*N’oubliez pas notre rendez-vous de demain {% if textTimeOfDay %}{{textTimeOfDay}}{% endif %} ({{ trans_day[language][transferObject.date|date('w')] }}) à {{ transferObject.meetingAt|date('H:i') }} {% if meetingAtPoint %}{{meetingAtPoint}}{% else %}à la {{ transferObject.meetingPoint }}{% endif %} de l'hôtel* durant lequel je vous donnerai toutes les informations concernant votre séjour ( infos sur l’hôtel, sur le pays, horaire de retour, test PCR si besoin etc) 

Nous en profiterons aussi pour planifier vos *excursions* et *confirmer votre retour*. Je vous demanderai donc s’il vous plaît de venir *munis de vos documents de voyage*.

*A demain !*
</div>
        {% elseif language == 'es' %}
<div id="message">
¡Hola {{transferObject.customerCard.holder|title}}! ¡Bienvenido a Punta Cana! 🌴

*Soy {{ transferObject.staff }}, tu representante de {{ entreprise }}.*

Puedes contactarme en este número en caso de necesitar ayuda.

*No olvides nuestra cita de mañana {% if textTimeOfDay %}{{textTimeOfDay}}{% endif %} ({{ trans_day[language][transferObject.date|date('w')] }}) a las {{ transferObject.meetingAt|date('H:i') }} {% if meetingAtPoint %}{{meetingAtPoint}}{% else %}en {{ transferObject.meetingPoint }}{% endif %} del hotel*, durante la cual te proporcionaré toda la información sobre tu estancia (información sobre el hotel, sobre el país, horario de regreso, prueba PCR si es necesario, etc.).

También aprovecharemos para planificar tus *excursiones* y *confirmar tu regreso*. Te pediré que vengas *con tus documentos de viaje*.

*¡Hasta mañana!*
</div>
        {% elseif language == 'en' %}
<div id="message">
Hello {{transferObject.customerCard.holder|title}}! Welcome to Punta Cana! 🌴

*I am {{ transferObject.staff }}, your {{ entreprise }} representative.*

You can reach me at this number in case you need assistance.

*Don't forget our appointment tomorrow {% if textTimeOfDay %}{{textTimeOfDay}}{% endif %} ({{ trans_day[language][transferObject.date|date('w')] }}) at {{ transferObject.meetingAt|date('H:i') }} {% if meetingAtPoint %}{{meetingAtPoint}}{% else %}at the {{ transferObject.meetingPoint }}{% endif %} of the hotel*, during which I will provide you with all the information about your stay (hotel information, country information, return schedule, PCR test if necessary, etc.).

We will also take the opportunity to plan your *excursions* and *confirm your return*. I will ask you to please come *with your travel documents*.

*See you tomorrow!*
</div>
        {% elseif language == 'it' %}
<div id="message">
Ciao {{transferObject.customerCard.holder|title}}! Benvenuto a Punta Cana! 🌴

*Sono {{ transferObject.staff }}, il tuo rappresentante di {{ entreprise }}.*

Puoi contattarmi a questo numero in caso di bisogno.

*Non dimenticare il nostro appuntamento domani {% if textTimeOfDay %}{{textTimeOfDay}}{% endif %} ({{ trans_day[language][transferObject.date|date('w')] }}) alle {{ transferObject.meetingAt|date('H:i') }} {% if meetingAtPoint %}{{meetingAtPoint}}{% else %}presso il {{ transferObject.meetingPoint }}{% endif %} dell'hotel*, durante il quale ti fornirò tutte le informazioni sul tuo soggiorno (informazioni sull'hotel, informazioni sul paese, orario di ritorno, test PCR se necessario, ecc.).

Ne approfitteremo anche per pianificare le tue *escursioni* e *confermare il tuo ritorno*. Ti chiederò quindi di venire *con i tuoi documenti di viaggio*.

*A domani!*
</div>
        {% elseif language == 'po' %}
<div id="message">
Olá {{transferObject.customerCard.holder|title}}! Bem-vindo a Punta Cana! 🌴

*Eu sou {{ transferObject.staff }}, seu representante da {{ entreprise }}.*

Você pode me contatar neste número caso precise de assistência.

*Não se esqueça da nossa reunião amanhã {% if textTimeOfDay %}{{textTimeOfDay}}{% endif %} ({{ trans_day[language][transferObject.date|date('w')] }}) às {{ transferObject.meetingAt|date('H:i') }} {% if meetingAtPoint %}{{meetingAtPoint}}{% else %}no {{ transferObject.meetingPoint }}{% endif %} do hotel*, durante a qual fornecerei todas as informações sobre a sua estadia (informações sobre o hotel, informações sobre o país, horário de retorno, teste PCR se necessário, etc.).

Aproveitaremos também para planejar suas *excursões* e *confirmar seu retorno*. Peço que venha *com seus documentos de viagem*.

*Até amanhã!*
</div>        
        {% endif %}{# endif language #}


    {% else %} {# le message en cas d'interHotel ou départ #}

<div id="message">
{{ textVariableToDisplay }}
</div>

    {% endif %}
{% endif %} {# fin true / false #}


                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {{ include('partials/footer.html.twig') }}
            </div>
            <!-- end main content-->

            <!-- Le menu créé pour les rep en bas de page -->
            {% if "ROLE_REP" in app.user.roles %}
                {{ include('partials/rep-bottom-menu.html.twig') }}            
            {% endif %}
        </div>
        <!-- END layout-wrapper -->
        {{ include('partials/right-sidebar.html.twig') }}

        {{ include('partials/vendor-scripts.html.twig') }}

        <!-- apexcharts -->
        <!-- <script src="{{ asset('/libs/apexcharts/apexcharts.min.js')}}"></script> -->

        <!-- <script src="/js/pages/dashboard.init.js"></script> -->

        <!-- App js -->
        <script src="/js/app.js"></script>

        <script>
            //die()
            let message = document.querySelector('#message').textContent
            /* let phone = document.querySelector('#tel').textContent */

            console.log(message)
        window.location.href = encodeURI('https://api.whatsapp.com/send?phone=&text=' + message); 
        </script>

    </body>
