{{ include('partials/header-reproupement.html.twig') }}

    <a href="{{ path('app_whats_app_message_index')}}" class="btn btn-secondary btn-sm">{% trans %}Back to message list{% endtrans %}</a>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% set transferName = {1 : "arrival", 2: "inter Hotel", 3 : "departure" } %}
                    <h3 class="text-center">WhatsApp {{ transferName[app.request.get('transfer')]|trans }} {% trans %}message{% endtrans %}</h3 clas="text-center">

                    {% for message in app.flashes('danger') %}
                        <div class="text-center text-white flash-notice bg bg-danger rounded p-1 ">
                            {{ message|trans }}
                        </div>
                    {% endfor %}

                    <form method="post">

                        <div class="my-3 border border-light shadow p-1">
                                    
                            <label for="variable-select">{% trans %}Insert variables in your message{% endtrans %}: <a type="button" data-bs-toggle="modal" data-bs-target="#myModalVariables"><i class="uil-question-circle fs-4 text-success"></i></a></label><br>

                                <button class="variable badge btn-dark p-1 fs-6 mb-1" title="Client" id="client">{# <i class="uil-user-plus"></i> #}Client</button>	

                                {% if app.request.get('transfer') == 1 %}
{#                                     <button class="variable btn btn-outline-primary fs-4" title="Meeting point" id="meetingPoint"><i class="uil-map-marker"></i></button>
                                    <button class="variable btn btn-outline-primary fs-4" title="Meeting at point" id="meetingAtPoint">...<i class="uil-map-marker"></i></button>                                    	
                                    <button class="variable btn btn-outline-primary fs-4" title="Meeting Hour" id="meetingHour"><i class="uil-clock-ten"></i></button>		
                                    <button class="variable btn btn-outline-primary fs-4 " title="Day in letter" id="dayInLetter"><i class="uil-calendar-alt"></i></button>	 #}

                                    <button class="variable badge btn-primary p-1 fs-6" title="Meeting point" id="meetingPoint">Meeting Point</button>
                                    <button class="variable badge btn-primary p-1 fs-6" title="Meeting at point" id="meetingAtPoint">At meeting point</button>                                    	
                                    <button class="variable badge btn-primary p-1 fs-6" title="Meeting Hour" id="meetingHour">Meeting Time</button>		
                                    <button class="variable badge btn-primary p-1 fs-6 " title="Day in letter" id="dayInLetter">Day</button>	
                                
                                
                                
                                {% endif %}
                                {% if app.request.get('transfer') == 2 or app.request.get('transfer') == 3 %}
{#                                     <button class="variable btn btn-outline-success fs-4" title="Pickup Number" id="pickupNumber"><i class="uil-bus-school"></i></button>	
                                    <button class="variable btn btn-outline-success fs-4" title="Pickup Hour" id="pickupHour"><i class="uil-clock-ten"></i></button> #}	
                                    <button class="variable badge btn-success p-1 fs-6 fs-6" title="Pickup Number" id="pickupNumber">Pickup Number</button>	
                                    <button class="variable badge btn-success p-1 fs-6 fs-6" title="Pickup Hour" id="pickupHour">Pickup Time</button>
                                {% endif %}
                                {% if app.request.get('transfer') == 2 %}   
                                    {# <button class="variable btn btn-outline-success fs-4" title="To Hotel" id="toHotel"><i class="uil-arrow-to-right"></i></button> #}
                                    <button class="variable badge btn-success p-1 fs-6 fs-6" title="To Hotel" id="toHotel">Arrival Hotel</button>
                                {% endif %}
                                {% if app.request.get('transfer') == 3 %}   
{#                                     <button class="variable btn btn-outline-warning fs-4" title="Flight Number" id="flightNumber"><i class="uil-plane-departure"></i></button>	
                                    <button class="variable btn btn-outline-warning fs-4" title="Flight Hour" id="flightHour"><i class="uil-clock-ten"></i></button>	
                                    <button class="variable btn btn-outline-warning fs-4" title="To Airport" id="toAirport"><i class="uil-arrow-to-right"></i></button> #}
                                    <button class="variable badge btn-warning p-1 fs-6 fs-6" title="Flight Number" id="flightNumber">Flight Number</button>	
                                    <button class="variable badge btn-warning p-1 fs-6 fs-6" title="Flight Hour" id="flightHour">Flight Hour</button>	
                                    <button class="variable badge btn-warning p-1 fs-6 fs-6" title="To Airport" id="toAirport">Airport</button>
                                {% endif %}
                    
                        </div>
                        <div class="my-3">
                            <button class="bbcode btn btn-outline-primary" id="bold">B</button>	
                            <button class="bbcode btn btn-outline-primary" id="sourire">&#x1F600;</button>
                            <button class="bbcode btn btn-outline-primary" id="palmier">&#x1F334;</button>
                            <button class="bbcode btn btn-outline-primary" id="sunglasses">&#x1F60E;</button>
                            <a type="button" data-bs-toggle="modal" data-bs-target="#myModalBbcode"><i class="uil-question-circle fs-4 text-success"></i></a>
                        </div>
                        <textarea id="myTextarea" name="textArea" class="form-control" rows="10" required  >{{ (text is defined ) ? text : ''}}</textarea>

                        <div class="mt-3">
                            {% set languages = {'es' : "Spanish", 'fr': "French",'en' : "English", 'it' : "Italian", 'po' : "Portuguese", } %}
                            <label for="variable-select">{% trans %}Your message language{% endtrans %}:</label>
                            <select name="language" id="language-select" class="form-select" required>
                                <option value="">--{% trans %}Please choose the message language{% endtrans %}--</option>
                                {% for key,currentLanguage in languages %}
                                    <option value="{{key}}" {{ language is defined and language == key  ? 'selected' : '' }}>{{currentLanguage|trans}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mt-3 text-center">
                            <input type="submit" name="submit" class="btn btn-outline-success">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


        <!-- sample modal Variables explications -->
        <div id="myModalVariables" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Variables</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <p>The variables you use will be replaced when you send the message on WhatsApp. You can view an example with the variables in English at the bottom of this page when you update the text.</p>
                                    <p><u>Example:</u>
                                        <br>Good morning %client%. 
                                        <br>will result in 
                                        <br>Good morning John Doe.
                                    </p>
                                    {% if app.request.get('transfer') == 1 %}
                                    <div>
                                        <h6>Capitalize a variable</h6>
                                        <p>To have the first letter capitalized in the variables <b>meetingHour</b> and <b>dayInLetter</b>, you can change the first letter of these variables as shown in the following example:</p>
                                        <ul>
                                            <li>%meetingHour% = reception</li>
                                            <li>%MeetingHour% = Reception</li>
                                            <li>%dayInLetter% = sunday</li>
                                            <li>%DayInLetter% = Sunday</li>
                                        </ul>
                                        <p><i>*The difference is %<b><u>m</u></b>eetingHour% and %<b><u>M</u></b>eetingHour%</i></p>
                                    </div>
                                    <hr/>
                                     {% endif %}
                                    <div>
                                        <h6>Client </h6>
                                        <button class="btn btn-outline-dark fs-4"><i class="uil-user-plus"></i></button> %client%: your Client FullName
                                        <p>Example: "John Do"</p>
                                    </div>
                                    <hr/>
                                    {% if app.request.get('transfer') == 1 %}
                                    <div>
                                        <h6>Meeting Point </h6>
                                        <button class="btn btn-outline-primary fs-4"><i class="uil-map-marker"></i></button> %meetingPoint%: The meeting point
                                        <p>Example: "Tour Desk"</p>
                                    </div>
                                    <hr/>
                                    <div>
                                        <h6>Meeting At Point</h6>
                                        <button class="btn btn-outline-primary fs-4">...<i class="uil-map-marker"></i></button> %meetingAtPoint%:
                                        The meeting point formatted by the administrator specifically for the WhatsApp message.
                                        <p>Example: "at the Tour Desk"</p>
                                    </div> 
                                    <hr/>
                                    <div>
                                        <h6>Briefing Hour </h6>
                                        <button class="btn btn-outline-primary fs-4"><i class="uil-clock-ten"></i></button> %meetingHour%:
                                        The briefing hour
                                        <p>Example: "10:00"</p>
                                    </div> 
                                    <hr/>
                                    <div>
                                        <h6>The day </h6>
                                        <button class="btn btn-outline-primary fs-4"><i class="uil-calendar-alt"></i></button> %dayInLetter%:
                                        The day
                                        <p>Example: "Sunday"</p>
                                    </div> 
                                    {% endif %}

                                    {% if app.request.get('transfer') == 2 or app.request.get('transfer') == 3%}
                                    <div>
                                        <h6>The Pickup Number </h6>
                                        <button class="btn btn-outline-success fs-4"><i class="uil-bus-school"></i></button> %pickupNumber%:
                                        The Pickup Number
                                        <p>Example: "????"</p>
                                    </div>
                                    <hr/>	
                                    <div>
                                        <h6>The Pickup Hour </h6>
                                        <button class="btn btn-outline-success fs-4"><i class="uil-clock-ten"></i></button> %pickupHour%: 
                                        The Pickup Hour
                                        <p>Example: "10:00"</p>
                                    </div>
                                    <hr/>	
                                    {% endif %}
                                    {% if app.request.get('transfer') == 2 %}
                                    <div>
                                        <button class="btn btn-outline-success fs-4"><i class="uil-arrow-to-right"></i></button> %toHotel%:
                                        Arrival hotel for your transfer
                                        <p>Example: "Hotel Riu Bambu"</p>
                                    </div>
                                    {% endif %}
                                    {% if app.request.get('transfer') == 3 %}
                                    <div>
                                        <button class="btn btn-outline-warning fs-4"><i class="uil-plane-departure"></i></button> %flightNumber%:
                                        The flight number
                                        <p>Example: "AV0129"</p>
                                    </div>
                                    <hr/>	
                                    <div>
                                        <button class="btn btn-outline-warning fs-4"><i class="uil-clock-ten"></i></button> %flightHour%:
                                        The flight time
                                        <p>Example: "10:00"</p>
                                    </div>
                                    <hr/>
                                    <div>
                                        <button class="btn btn-outline-warning fs-4"><i class="uil-arrow-to-right"></i></button> %toAirport%:
                                        Departure airport
                                        <p>Example: "Punta Cana International (PUJ)"</p>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <!-- sample modal Bbcode Explications -->
        <div id="myModalBbcode" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Bbcode</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h6>Bold</h6>
                                        <p>Be careful! There should be no space between the &lt;b&gt;&lt;/b&gt; tags and the text inside! In that case, the text will not be bold on WhatsApp.</p>
                                        <ul>
                                            <li>Good: &lt;b&gt;<b>It's bold</b>&lt;/b&gt;  </li>
                                            <li>WhatsApp: *It's bold*</li>
                                            <li>Bad: &lt;b&gt;It's not bold &lt;/b&gt;</li>
                                            <li>WhatsApp: *It's not bold *</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h6>Do you want more emojis?</h6>
                                        <p>You can directly copy the hexadecimal code that you can find on the internet !!!</p>
                                        <p>Copy the hexadecimal code and paste it directly into the text box. &amp;#x1F44D might not look nice, but it works! Copy it, save the message, and you will see it appear in the 'Example Result' area.</p>
                                        <ul>
                                            <li>This hexadecimal code &amp;#x1F44D; will result in &#x1F44D;</li>
                                            <li>&amp;#x1F680; => &#x1F680;</li>
                                            <li>&amp;#x1F55B; => &#x1F55B;</li>
                                        </ul>
                                    </div>
                                    <a href="https://crm-pour-pme.fr/liste-des-emojis.php" target="blank">You can find a list of emojis at this link.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <!--********************** FOOTER **********************-->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {{ include('partials/footer.html.twig') }}
            </div>
            <!-- end main content-->

            <!-- Le menu créé pour les rep en bas de page -->
            {% if "ROLE_REP" in app.user.roles %}
                {{ include('partials/rep-bottom-menu.html.twig') }}            
            {% endif %}
        </div>
        <!-- END layout-wrapper -->
        {{ include('partials/right-sidebar.html.twig') }}

        {{ include('partials/vendor-scripts.html.twig') }}

        <!-- apexcharts -->
        <!-- <script src="{{ asset('/libs/apexcharts/apexcharts.min.js')}}"></script> -->

        <!-- <script src="/js/pages/dashboard.init.js"></script> -->

        <!-- App js -->
        <script src="/js/app.js"></script>
        <script src="/js/jsPersos/whatsApp/variableToInsert.js"></script>
        <script src="/js/jsPersos/bbcode.js"></script>

    </body>
