{{ include('partials/header-reproupement.html.twig') }}

        


        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% set transferName = {1 : "arrival", 2: "inter Hotel", 3 : "departure" } %}
                        
                        <h3 class="text-center">WhatsApp {{ transferName[whatsAppMessage.typeTransfer] }} messages</h3>

                        <div class="border border-light shadow p-3 rounded">
                            <form method="post">


                                {% set language = {'es' : "Spanish", 'fr': "French", '' : "Spanish",'en' : "Ensglish", 'it' : "Italian", 'po' : "Portuguese", } %}
                                
                            
                                <p class="text-center fs-4">Language : {{language[whatsAppMessage.language]}}</p>



                                <div class="my-3 border border-light shadow p-1">
                                <label for="variable-select">Insert variables in your message::</label><br>

                                    <button class="variable btn btn-outline-dark fs-4" title="Client" id="client"><i class="uil-user-plus"></i></button>	

                                    {% if whatsAppMessage.typeTransfer == 1 %}
                                        <button class="variable btn btn-outline-primary fs-4" title="meeting point" id="meetingPoint"><i class="uil-map-marker"></i></button>	
                                        <button class="variable btn btn-outline-primary fs-4" title="Meeting Hour" id="meetingHour"><i class="uil-clock-ten"></i></button>	
                                    {% endif %}
                                    {% if whatsAppMessage.typeTransfer != 1 %}
                                        <button class="variable btn btn-outline-success fs-4" title="Pickup Number" id="pickupNumber"><i class="uil-bus-school"></i></button>	
                                        <button class="variable btn btn-outline-success fs-4" title="Pickup Hour" id="pickupHour"><i class="uil-clock-ten"></i></button>	
                                        <button class="variable btn btn-outline-warning fs-4" title="Flight Number" id="flightNumber"><i class="uil-plane-departure"></i></button>	
                                        <button class="variable btn btn-outline-warning fs-4" title="Fly Hour" id="flyHour"><i class="uil-clock-ten"></i></button>	
                                        
                                    {% endif %}
                           


                                </div>

                                <div class="my-3">
                                    <button class="bbcode btn btn-outline-primary" id="bold">B</button>	
                                    <button class="bbcode btn btn-outline-primary" id="sourire">&#x1F600;</button>
                                    <button class="bbcode btn btn-outline-primary" id="palmier">&#x1F334;</button>
                                </div>

                                <textarea id="myTextarea" name="textArea" class="form-control" rows="10" required>{{ textForArea is defined ? textForArea: ''}}</textarea>


                                {% if zoneDefault %}
                                    <label class="mt-3">Is the default message ?</label>
                                    <div class="d-flex ">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="default" id="yes" value="yes" {{ whatsAppMessage.isDefaultMessage == true ? 'checked':'' }}>
                                            <label class="form-check-label" for="yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check ms-3">
                                            <input class="form-check-input" type="radio" name="default" id="no" value="no" {{ whatsAppMessage.isDefaultMessage == false ? 'checked':'' }}>
                                            <label class="form-check-label" for="no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}
                        </div>
                        <div class="d-flex justify-content-center">
                                <div class="m-3">
                                    <input type="submit" name="submit" class="btn btn-outline-primary">
                                </div>
                            </form>
                
                                <div class="m-3">
                                    {{ include('whats_app/_delete_form.html.twig') }}
                                </div>
                            </div>
                        <div>
                            <hr>
                            <h5>{% trans %}Example result{% endtrans %}:</h5>
                            <div id="presentationtext" class="bg bg-light p-3 rounded border border-light shadow">
                                {{ textForDiv|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--********************** FOOTER **********************-->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {{ include('partials/footer.html.twig') }}
            </div>
            <!-- end main content-->

            <!-- Le menu créé pour les rep en bas de page -->
            {% if "ROLE_REP" in app.user.roles %}
                {{ include('partials/rep-bottom-menu.html.twig') }}            
            {% endif %}
        </div>
        <!-- END layout-wrapper -->
        {{ include('partials/right-sidebar.html.twig') }}

        {{ include('partials/vendor-scripts.html.twig') }}

        <!-- apexcharts -->
        <!-- <script src="{{ asset('/libs/apexcharts/apexcharts.min.js')}}"></script> -->

        <!-- <script src="/js/pages/dashboard.init.js"></script> -->

        <!-- App js -->
        <script src="/js/app.js"></script>
        <script src="{{ asset('js/jsPersos/whatsApp/variableToinsert.js')}}"></script>
        <script src="{{ asset('js/jsPersos/bbcode.js')}}"></script>


    </body>
