{{ include('partials/header-reproupement.html.twig') }}

        


        <a href="{{ path('app_whats_app_message_index')}}" class="btn btn-secondary btn-sm">{% trans %}Back to message list{% endtrans %}</a>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% set transferName = {1 : "arrival", 2: "inter Hotel", 3 : "departure" } %}
                        

                        <h5 class="text-center">
                            <img class="header-lang-img" src="{{ asset('images/flags/'~whatsAppMessage.language~'.jpg') }}" alt="flag {{ whatsAppMessage.language }}" title="{{whatsAppMessage.language|trans}}" height="16">
                            WhatsApp {{ transferName[whatsAppMessage.typeTransfer]|trans }} {% trans %}message{% endtrans %}                  
                            <img class="header-lang-img" src="{{ asset('images/flags/'~whatsAppMessage.language~'.jpg') }}" alt="flag {{ whatsAppMessage.language }}" title="{{whatsAppMessage.language|trans}}" height="16">
                        </h5>
                        
                        <div class="border border-light shadow p-3 rounded">
          
                            <form method="post">

                                {#
                                {% set language = {'es' : "Spanish", 'fr': "French",'en' : "English", 'it' : "Italian", 'po' : "Portuguese", } %}                      
                                Language : {{language[whatsAppMessage.language]}} #}

                                <div class="my-3 border border-light shadow p-1">
                                <label for="variable-select">{% trans %}Insert variables in your message{% endtrans %}:</label><br>

                                    <button class="variable btn btn-outline-dark fs-4" title="Client" id="client"><i class="uil-user-plus"></i></button>	

                                    {% if whatsAppMessage.typeTransfer == 1 %}
                                        <button class="variable btn btn-outline-primary fs-4" title="Meeting point" id="meetingPoint"><i class="uil-map-marker"></i></button>	
                                        <button class="variable btn btn-outline-primary fs-4" title="Meeting Hour" id="meetingHour"><i class="uil-clock-ten"></i></button>	
                                    {% endif %}
                                    {% if whatsAppMessage.typeTransfer == 2 or whatsAppMessage.typeTransfer == 3 %}
                                        <button class="variable btn btn-outline-success fs-4" title="Pickup Number" id="pickupNumber"><i class="uil-bus-school"></i></button>	
                                        <button class="variable btn btn-outline-success fs-4" title="Pickup Hour" id="pickupHour"><i class="uil-clock-ten"></i></button>	
                                    {% endif %}
                                    {% if whatsAppMessage.typeTransfer == 2 %}   
                                        <button class="variable btn btn-outline-success fs-4" title="To Hotel" id="toHotel"><i class="uil-arrow-to-right"></i></button>
                                    {% endif %}
                                    {% if whatsAppMessage.typeTransfer == 3 %}   
                                        <button class="variable btn btn-outline-warning fs-4" title="Flight Number" id="flightNumber"><i class="uil-plane-departure"></i></button>	
                                        <button class="variable btn btn-outline-warning fs-4" title="Fly Hour" id="flyHour"><i class="uil-clock-ten"></i></button>
                                        <button class="variable btn btn-outline-warning fs-4" title="To Airport" id="toAirport"><i class="uil-arrow-to-right"></i></button>
                                    {% endif %}
                           
                                </div>

                                <div class="my-3">
                                    <button class="bbcode btn btn-outline-primary" id="bold">B</button>	
                                    <button class="bbcode btn btn-outline-primary" id="sourire">&#x1F600;</button>
                                    <button class="bbcode btn btn-outline-primary" id="palmier">&#x1F334;</button>
                                </div>

                                <textarea id="myTextarea" name="textArea" class="form-control" rows="10" required>{{ textForArea is defined ? textForArea: ''}}</textarea>

                        </div>
                        <div class="d-flex justify-content-center">
                                <div class="m-3">
                                    <input type="submit" name="submit" class="btn btn-outline-primary">
                                </div>
                            </form>
                
                                <div class="m-3">
                                    {{ include('whats_app/_delete_form.html.twig') }}
                                </div>
                            </div>
                        <div>
                            <hr>
                            <h5>{% trans %}Example result{% endtrans %}:</h5>
                            <div id="presentationtext" class="bg bg-light p-3 rounded border border-light shadow">
                                {{ textForDiv|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--********************** FOOTER **********************-->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {{ include('partials/footer.html.twig') }}
            </div>
            <!-- end main content-->

            <!-- Le menu créé pour les rep en bas de page -->
            {% if "ROLE_REP" in app.user.roles %}
                {{ include('partials/rep-bottom-menu.html.twig') }}            
            {% endif %}
        </div>
        <!-- END layout-wrapper -->
        {{ include('partials/right-sidebar.html.twig') }}

        {{ include('partials/vendor-scripts.html.twig') }}

        <!-- apexcharts -->
        <!-- <script src="{{ asset('/libs/apexcharts/apexcharts.min.js')}}"></script> -->

        <!-- <script src="/js/pages/dashboard.init.js"></script> -->

        <!-- App js -->
        <script src="/js/app.js"></script>
        <script src="{{ asset('js/jsPersos/whatsApp/variableToInsert.js')}}"></script>
        <script src="{{ asset('js/jsPersos/bbcode.js')}}"></script>


    </body>
