{{ include('partials/header-reproupement.html.twig') }}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <h3>{% trans %}WhatsApp Messages{% endtrans %}</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>{% trans %}Type transfer{% endtrans %}</td>
                                <td><span title="language">Language</span></td>
                                <td>{% trans %}Edit{% endtrans %}</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% if countWhatsAppMessages > 0 %}
          
                            {% for arrivalMessage in arrivalMessages %}
                            <tr>
                                <td>{% trans %}Arrival{% endtrans %}</td>
                                <td><img class="header-lang-img" src="{{ asset('images/flags/'~arrivalMessage.language~'.jpg') }}" alt="flag {{ arrivalMessage.language }}" title="{{arrivalMessage.language|trans}}" height="16"></td>
                                <td>
                                    {# <a class="btn btn-outline-primary" href="{{ path('app_whats_app_message_show', {'id': arrivalMessage.id}) }}"><i class="uil-eye"></i></a> #}
                                    <a class="btn btn-outline-primary" href="{{ path('app_whats_app_message_edit', {'id': arrivalMessage.id}) }}"><i class="uil-edit-alt"></i></a>
                                </td>
                            </tr>
                            {% endfor %}

                            {% for interHotelMessage in interHotelMessages %}
                            <tr>
                                <td>{% trans %}InterHotel{% endtrans %}</td>
                                <td><img class="header-lang-img" src="{{ asset('images/flags/'~interHotelMessage.language~'.jpg') }}" alt="flag {{ interHotelMessage.language }}" title="{{interHotelMessage.language|trans}}" height="16"></td>
                                <td>
                                    {# <a class="btn btn-outline-primary" href="{{ path('app_whats_app_message_show', {'id': interHotelMessage.id}) }}"><i class="uil-eye"></i></a> #}
                                    <a class="btn btn-outline-primary" href="{{ path('app_whats_app_message_edit', {'id': interHotelMessage.id}) }}"><i class="uil-edit-alt"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% for departureMessage in departureMessages %}
                            <tr>
                                <td>{% trans %}Departure{% endtrans %}</td>
                                <td><img class="header-lang-img" src="{{ asset('images/flags/'~departureMessage.language~'.jpg') }}" alt="flag {{ departureMessage.language }}" title="{{departureMessage.language|trans}}" height="16"></td>
                                <td>
                                    {# <a class="btn btn-outline-primary" href="{{ path('app_whats_app_message_show', {'id': departureMessage.id}) }}"><i class="uil-eye"></i></a> #}
                                    <a class="btn btn-outline-primary" href="{{ path('app_whats_app_message_edit', {'id': departureMessage.id}) }}"><i class="uil-edit-alt"></i></a>
                                </td>
                            </tr>                                
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="d-flex">
                        <a class="btn btn-outline-primary m-1 w-50" href="{{ path('app_whats_app_message_new', {'transfer': 1}) }}"><i class="mdi mdi-airplane-landing fs-3"></i><br>{% trans %}Create new Arrival message{% endtrans %}</a>
                        <a class="btn btn-outline-primary m-1 w-50" href="{{ path('app_whats_app_message_new', {'transfer': 2}) }}"><i class="mdi mdi-car fs-3"></i><br>{% trans %}Create new InterHotel message{% endtrans %}</a> 
                        <a class="btn btn-outline-primary m-1 w-50" href="{{ path('app_whats_app_message_new', {'transfer': 3}) }}"><i class="mdi mdi-airplane-takeoff fs-3"></i><br>{% trans %}Create new Departure message{% endtrans %}</a>
                    </div>

            </div>
        </div>
    </div>
</div>


{{ include('partials/footer-regroupement.html.twig') }}
