{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'General Settings', title: 'New Briefing Place'}) }}

    <a class="btn btn-secondary btn-sm my-3" href="{{ path('app_meeting_point_index') }}">back to list</a>


    {{ include('meeting_point/_form.html.twig') }}

{{ include('partials/footer-regroupement.html.twig') }}