{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Minible', title: 'Client Cards'|trans}) }}


                        <div class="alert alert-danger" role="alert">
                        
                        possibilité de changer le status en No show / go show aeroport
                        </div>

                        <div class="alert alert-danger" role="alert">
                            Voucher Number a faire quand le transfert joan arrival sera fait 
                        </div>


                        <form method="GET">
                            <div class="row">
                                <div class="col-lg-3">
                                        {% set now = "now"|date("Y-m-d") %}
                                        <div class="mb-3">
                                            <label class="form-label">{% trans %}Search date{% endtrans %}</label>
                                            <input class="form-control" name="date" placeholder="Date" type="date" value="{{ (app.request.query.get('date') != '') ? app.request.query.get('date') : now }}" id="date">
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="= mb-3">
                                    <label class="form-label">{% trans %}Search Airport{% endtrans %}</label>
                                        <select name="airports" class="form-select" id="airport" >
                                            <option value="all" selected>All airports</option>
                                            {% for airport in airports|sort((a, b) => a.name <=> b.name) %} 
                                                <option value="{{ airport.id }}" {{ (app.request.query.get('airports') == airport.id ) ? 'selected' : '' }} >{{ airport }}  </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="= mb-3">
                                        <label for="flightNumber">{% trans %}Flight Number{% endtrans %}</label>
                                        <input name="flightNumber" type="text" class="form-control" id="flightNumber" placeholder="Flight Numbers" value="{{ (app.request.query.get('flightNumber')) }}">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="= mb-3">
                                        <label for="voucherNumber">{% trans %}Voucher Number{% endtrans %}</label>
                                        <input name="voucherNumber" type="text" class="form-control" id="voucherNumber" placeholder="Voucher Number" value="{{ (app.request.query.get('voucherNumber')) }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center text-md-start col-md-2 ">
                                    <input type="submit" class="btn btn-primary px-5 py-3">
                                </div>

                            </div>

                        </form>

                        <div class="row mt-3">

                            {% for result in results|sort((a, b) => a.customerCard.holder <=> b.customerCard.holder)  %}

                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        {% if result.customerCard.staff is not null %}<div class="ribbon ribbon-top-right"><span>{{ result.customerCard.staff }}</span></div>{% endif %}
                                        <div class="card-body">
                                            <div class="d-flex align-items-start">
                                                <div class="d-none d-md-block flex-shrink-0 me-4">
                                                    <div class="avatar-sm">
                                                        <span class="avatar-title bg-soft-primary text-primary font-size-16 rounded-circle">
                                                            <i class="fas fa-id-card text-dark"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 align-self-center">
                                                    <div class="border-bottom pb-1">
                                                        <p class="text-muted">
                                                            <i class="me-1">#</i> {{ result.customerCard.reservationNumber }}
                                                        </p>
                                                        <h5 class="text-truncate font-size-16 mb-1"><a href="{{ path('app_customer_card_show', {id:result.customerCard.id}) }}" class="text-dark text-wrap">{{ result.customerCard.holder|title }}</a></h5>
                                                        <p>
                                                        {% if result.customerCard.status == "No Show" %}
                                                            <span class="badge rounded-pill bg-danger">{{ result.customerCard.status }}</span>
                                                        {% else %}
                                                            <span class="badge rounded-pill bg-success">{{ result.customerCard.status }}</span>
                                                        {% endif %}

                                                        <form method="GET">
                                                            <select name="changeStatus" class="form-select-perso text-light {% if result.customerCard.status == 'No Show' %} bg-danger {% else %} bg-success {% endif %} " id="changeStatus" aria-label="Floating label select example">                                                                
                                                                {% for statu in status %}
                                                                    <option value="{{ statu }}" {{ (result.customerCard.status == statu ) ? 'selected' : '' }} class="{% if statu == 'No Show' %} bg-danger {% else %} bg-success {% endif %} ">{{ statu }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <input type="submit">
                                                        </form>




                                                        </p>
                                                        <p class="text-muted">
                                                            {{ result.customerCard.agency|title }}
                                                        </p>
                                                    </div>

        
                                                    <div class="border-bottom mt-3 pt-1 pb-1">
                                                        <p>
                                                            <i class="fas fa-hotel"></i> Arrival: {{ result.fromStart|title }} - {{ result.toArrival|title }}
                                                        </p>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Adults{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ result.customerCard.adultsNumber }}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Children{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ result.customerCard.childrenNumber }}</h5>
                                                            </div>
                                                        </div>                                                    
                                                        <div class="col-4">
                                                            <div class="mt-3">{% trans %}Babies{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ result.customerCard.babiesNumber }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-3 p-3 shadow-lg border border-1 border-primary rounded">
                                                        <h6><i class="mdi mdi-airplane-landing"></i> Arrival</h6>
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Date{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ result.date | date('d-m-Y') }}</h5>
                                                            </div>
                                                        </div>
                                                    <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Hour{% endtrans %}</p>
                                                                <h5 class="font-size-16 mb-0">{{ result.hour | date('h:i')}}</h5>
                                                            </div>
                                                        </div>            
                                                        <div class="col-4">
                                                            <div class="mt-3">
                                                                <p class="text-muted mb-2">{% trans %}Flight{% endtrans %} #</p>
                                                                <h5 class="font-size-16 mb-0">{{ result.flightNumber }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}


                        </div>

                        <div class="">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Colored Bordered table</h4>
                                    <p class="card-title-desc">Add <code>.table-bordered</code> for borders on all sides of 
                                        the table and cells.</p>    
                                    
                                    <div class="table-responsive">
                                        <table class="table table-bordered border-primary mb-0">
    
                                            <thead class="bg-primary bg-gradient text-light border-end-light">
                                                <tr>
                                                    <th>{% trans %}Client{% endtrans %}</th>
                                                    <th>{% trans %}Airport{% endtrans %}</th>
                                                    <th>{% trans %}Flight Number{% endtrans %}</th>
                                                    <th>{% trans %}Agency{% endtrans %}</th>
                                                    <th>{% trans %}No Show / Go Show Airport{% endtrans %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for result in results|sort((a, b) => a.customerCard.holder <=> b.customerCard.holder)  %}
                                                <tr {{ (result.customerCard.status == 'No Show') ? 'class="text-danger"' : ''}} >
                                                    <td>{{ result.customerCard.holder|title}}</td>
                                                    <td>{{ result.fromStart|title}}</td>
                                                    <td>{{ result.flightNumber }}</td>
                                                    <td>{{ result.customerCard.agency|title}}</td>
                                                    <td>{{ result.customerCard.status }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{{ include('partials/footer-regroupement.html.twig') }}