{{ include('partials/main.html.twig') }}

    <head>

        {{ include('partials/title-meta.html.twig', {title: 'User Pax Calculation'}) }}

        {{ include('partials/head-css.html.twig') }}

        <!-- plugin css -->
        <link href="/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
        <link href="/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/libs/@chenfengyuan/datepicker/datepicker.min.css">

        <!-- datepicker css -->
        <link rel="stylesheet" href="/libs/flatpickr/flatpickr.min.css">

        {{ include('partials/head-css.html.twig') }}

    </head>

    {{ include('partials/body.html.twig') }}

        <!-- Begin page -->
        <div id="layout-wrapper">

            {{ include('partials/menu.html.twig') }}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


    {{ include('partials/page-title.html.twig', {pagetitle: 'User', title: 'Pax Calculation'}) }}

                        <div>
                            {% trans %}NB: "No Show" status must be called exactly like this to retrieve user pax unless they are no show. The Admin can check this in in "general settings->clients Status"{% endtrans %}
                        </div>

                        <form method="GET">
                            <div class="row">
                                {% set now = "now"|date("Y-m-d") %}
                                <div class="col-md-3">
                                    {# <div><label for="dateStart" class=" col-form-label">Date Start</label></div> #}
                                    <input class="form-control mt-3" name="dateStart" placeholder="Start Date" type="date" value="{{ (app.request.query.get('dateStart') != '') ? app.request.query.get('dateStart') : now }}" id="dateStart">
                                    <input class="form-control" name="dateEnd" placeholder="End Date" type="date" value="{{ (app.request.query.get('dateEnd') != '') ? app.request.query.get('dateEnd') : now }}" id="dateEnd">                               
                                </div>
                            </div>

                            <div class="text-center text-md-start col-md-2 ">
                                <input type="submit" class="btn btn-primary px-5 py-3">
                            </div>

                            </div>

                        </form>



                    <div class="">
                        <div class="card">
                            <div class="card-body">
                                  
                                <div class="table-responsive">
                                    <table class="table table-bordered border-primary mb-0 text-center">

                                        <thead class="bg-primary bg-gradient text-light border-end-light">
                                            <tr>
                                                <th>#</th>
                                                <th>{% trans %}Total pax{% endtrans %}</th>
                                                <th>{% trans %}Total personnes{% endtrans %}</th>
                                                <th>{% trans %}Adults{% endtrans %}</th>
                                                <th>{% trans %}Children{% endtrans %}</th>
                                                <th>{% trans %}Babies{% endtrans %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Show</td>
                                                <td> {{ results['sumPaxShow'] }} </td>
                                                <td>{{results['sumNbrShow']}}</td>
                                                <td>{{results['nbrAdultsShow']}}</td>
                                                <td>{{results['nbrChildrenShow']}}</td>
                                                <td>{{results['nbrBabiesShow']}}</td> 
                                            </tr>
                                            <tr>
                                                <td>With no Show</td>
                                                <td>{{results['sumPaxTotal']}}</td>
                                                <td>{{results['sumNbrTotal']}}</td>
                                                <td> {{results['nbrTotalAdults']}}</td>
                                                <td> {{results['nbrTotalChildren']}}</td>
                                                <td> {{results['nbrTotalbabies']}}</td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {{ include('partials/footer.html.twig') }}
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->

        {{ include('partials/right-sidebar.html.twig') }}

        {{ include('partials/vendor-scripts.html.twig') }}

        <!-- plugins -->
        <script src="/libs/select2/js/select2.min.js"></script>
        <script src="/libs/spectrum-colorpicker2/spectrum.min.js"></script>
        <script src="/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script src="/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
        <script src="/libs/@chenfengyuan/datepicker/datepicker.min.js"></script>

        <!-- datepicker js -->
        <script src="/libs/flatpickr/flatpickr.min.js"></script>

        <!-- init js -->
        <script src="/js/pages/form-advanced.init.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>

    </body>
</html>
