{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Client Card', title: 'Edit Client Card'}) }}
  
    <a class="btn btn-secondary btn-sm my-3" href="{{ path('app_customer_card_index', {}|merge(app.request.query.all)) }}">back to list</a>

    {{ include('customer_card/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('customer_card/_delete_form.html.twig') }}


{{ include('partials/footer-regroupement.html.twig') }}
