{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Minible', title: 'Customer Cards'}) }}


   


                        <div class="row">



                            {% for customer_card in customer_cards %}

                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start">
                                            <div class="d-none d-md-block flex-shrink-0 me-4">
                                                <div class="avatar-sm">
                                                    <span class="avatar-title bg-soft-primary text-primary font-size-16 rounded-circle">
                                                        <i class="fas fa-id-card text-dark"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 align-self-center">
                                                <div class="border-bottom pb-1">
                                                    <h5 class="text-truncate font-size-16 mb-1"><a href="{{ path('app_customer_card_edit', {id:customer_card.id}) }}" class="text-dark text-wrap">{{ customer_card.holder }}</a></h5>
                                                    <p class="text-muted">
                                                        <i class="me-1">#</i> {{ customer_card.reservationNumber }}
                                                    </p>
                                                    <p>
                                                     {% if customer_card.status == "No Show" %}
                                                        <span class="badge rounded-pill bg-danger">{{ customer_card.status }}</span>
                                                    {% else %}
                                                        <span class="badge rounded-pill bg-success">{{ customer_card.status }}</span>
                                                    {% endif %}
                                                    </p>
                                                    <p class="text-muted">
                                                        {{ customer_card.agency }}
                                                    </p>
                                                </div>


                                                <div class="border-bottom mt-3 pt-1 pb-1">

                                                    <p class="text-muted">
                                                        <i class="fas fa-hotel"></i> 
                                                        {% for transfer in customer_card.transfers %} 
                                                            {% if transfer.natureTransfer == "Arrivée" %}
                                                                {{ transfer.toArrival }}
                                                            {% elseif  transfer.natureTransfer == "Inter Hotel" %}
                                                                <br> <i class="fas fa-hotel"></i> {{ transfer.toArrival }}
                                                            {% endif  %}
                                                        {% endfor %}
                                                    </p>
                                                </div>

                                                <a href=""> Show more</a>

                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="mt-3">
                                                            <p class="text-muted mb-2">Adults</p>
                                                            <h5 class="font-size-16 mb-0">{{ customer_card.adultsNumber }}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="mt-3">
                                                            <p class="text-muted mb-2">Children</p>
                                                            <h5 class="font-size-16 mb-0">{{ customer_card.childrenNumber }}</h5>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="col-4">
                                                        <div class="mt-3">BB</p>
                                                            <h5 class="font-size-16 mb-0">{{ customer_card.babiesNumber }}</h5>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% for transfer in customer_card.transfers %} 
                                                    {% if transfer.natureTransfer == "Arrivée" %}
                                                        <div class="row mt-3">
                                                            <h6><i class="mdi mdi-airplane-landing"></i> Arrival</h6>
                                                            <div class="col-4">
                                                                <div class="mt-3">
                                                                    <p class="text-muted mb-2">Date</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.dateHour | date('d-m-Y') }}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="mt-3">
                                                                    <p class="text-muted mb-2">Hour</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.transferHourArrival }}</h5>
                                                                </div>
                                                            </div>                                                    
                                                            <div class="col-4">
                                                                <div class="mt-3">Flight #</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.flightNumber }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% elseif transfer.natureTransfer == "Inter Hotel" %}
                                                        <div class="row mt-3">
                                                            <h6><i class="mdi mdi-car"></i> Inter Hotel</h6>
                                                            <div class="col-6">
                                                                <div class="mt-3">
                                                                    <p class="text-muted mb-2">Date</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.dateHour | date('d-m-Y') }}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="mt-3">
                                                                    <p class="text-muted mb-2">Hour</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.transferHourArrival }}</h5>
                                                                </div>
                                                            </div>                                                    
                                                        </div>


                                                    {% elseif transfer.natureTransfer == "Départ" %}
                                                        <div class="row mt-3">
                                                            <h6><i class="mdi mdi-airplane-takeoff"></i> Departure</h6>
                                                            <div class="col-4">
                                                                <div class="mt-3">
                                                                    <p class="text-muted mb-2">Date</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.dateHour | date('d-m-Y') }}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="mt-3">
                                                                    <p class="text-muted mb-2">Hour</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.transferHourArrival }}</h5>
                                                                </div>
                                                            </div>                                                    
                                                            <div class="col-4">
                                                                <div class="mt-3">Flight #</p>
                                                                    <h5 class="font-size-16 mb-0">{{ transfer.flightNumber }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            {% endfor %}







                        </div>




















    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ReservationNumber</th>
                <th>JumboNumber</th>
                <th>Holder</th>
                <th>Agency</th>
                <th>AdultsNumber</th>
                <th>ChildrenNumber</th>
                <th>BabiesNumber</th>
                <th>StatusUpdatedAt</th>
                <th>MeetingAt</th>
                <th>ReservationCancelled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer_card in customer_cards %}
            <tr>
                <td>{{ customer_card.id }}</td>
                <td>{{ customer_card.reservationNumber }}</td>
                <td>{{ customer_card.jumboNumber }}</td>
                <td>{{ customer_card.holder }}</td>
                <td>{{ customer_card.agency }}</td>
                <td>{{ customer_card.adultsNumber }}</td>
                <td>{{ customer_card.childrenNumber }}</td>
                <td>{{ customer_card.babiesNumber }}</td>
                <td>{{ customer_card.statusUpdatedAt ? customer_card.statusUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer_card.meetingAt ? customer_card.meetingAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer_card.reservationCancelled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_customer_card_show', {'id': customer_card.id}) }}">show</a>
                    <a href="{{ path('app_customer_card_edit', {'id': customer_card.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_customer_card_new') }}">Create new</a>

{{ include('partials/footer-regroupement.html.twig') }}