{{ include('partials/main.html.twig') }}

    <head>

        {{ include('partials/title-meta.html.twig', {title: 'Transfer calculation'}) }}

        {{ include('partials/head-css.html.twig') }}

        {{ include('partials/head-css.html.twig') }}


    <style>
         .just-for-print {
            display: none;
         }
            @page{
                margin: 2cm 1.5cm;
            }
        @media print{
            /* Je cache le header footer*/
            .menu,
            .footer, .no-print{display:none}
            /* je supprime le fond  et je change la couleur de police */
            #background{
                background-image :  none; 
                color:#000;  
                display:inline-block;
            }
            .just-for-print {
                display:block;
            }
            /* Je supprimme les bordures */
            p{border:0;}
            .table-responsive {
                width:100%;
                margin:auto;
            }

        }
    </style>        


    </head>

    {{ include('partials/body.html.twig') }}

        <!-- Begin page -->
        <div id="layout-wrapper">

            {{ include('partials/menu.html.twig') }}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


    {{ include('partials/page-title.html.twig', {pagetitle: 'Transportation', title: 'Transfer calculation'|trans}) }}

<form method="GET">
    <label class="form-label no-print">{% trans %}Search date{% endtrans %}</label>
    <div class="row no-print mb-3">
        <div class="col-md-3 col-lg-2">
                    {% set now = "now"|date("Y-m-d") %}
                    {% set firstDay = "now"|date("Y-m-01") %}
                    <input class="form-control " name="dateStart" placeholder="Start Date" type="date" value="{{ (app.request.query.get('dateStart') != '') ? app.request.query.get('dateStart') : firstDay }}" id="dateStart">
        </div>
        <div class="col-md-3 col-lg-2">
                <input class="form-control " name="dateEnd" placeholder="End Date" type="date" value="{{ (app.request.query.get('dateEnd') != '') ? app.request.query.get('dateEnd') : now }}" id="dateEnd">                               
        </div>
    </div>

    <div class="row no-print">
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <select name="company" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option value="all" selected>{% trans %}All companies{% endtrans %}</option>
                    {% for transportCompany in transportCompanies %} 
                        <option value="{{ transportCompany.name }}" {{ (app.request.query.get('company') == transportCompany.name) ? 'selected' : '' }}>{{ transportCompany.name|capitalize }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelectGrid">{% trans %}Select a transport company{% endtrans %}</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <select name="area" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option value="all" selected>{% trans %}All areas{% endtrans %}</option>
                    {% for uniqueArea in uniqueAreas|sort((a,b) => a.area <=> b.area) %} 
                        <option value="{{ uniqueArea.area }}" {{ (app.request.query.get('area') == uniqueArea.area) ? 'selected' : '' }}>{{ uniqueArea.area }}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelectGrid">{% trans %}Select an area{% endtrans %}</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-floating mb-3">
                <select name="type" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option value="all" selected>{% trans %}All types{% endtrans %}</option>                  
                    <option value="1" {{ (app.request.query.get('type') == 1) ? 'selected' : '' }}>{% trans %}Collective{% endtrans %}</option>
                    <option value="2" {{ (app.request.query.get('type') == 2) ? 'selected' : '' }}>{% trans %}Private{% endtrans %}</option>
                </select>
                <label for="floatingSelectGrid">{% trans %}Select a type{% endtrans %}</label>
            </div>
        </div>
    </div>
    <div class="row no-print">
        <div class="text-md-start col-md-2 ">
            <input type="submit" class="btn btn-primary mb-3">
        </div>
    </div>

</form>

<div class="">
    <div class="card">
        <div class="card-body">
           
            <p class="no-print"> {% trans %}Adults{% endtrans %}: {{ adultsNumber }} / 
            {% trans %}Children{% endtrans %}: {{ childrenNumber }} / 
            {% trans %}Babies{% endtrans %}: {{ babiesNumber }}</p>

            <div class="text-center my-3 no-print">
                <form>
                    <input class="btn btn-success .btn-soft-success  waves-effect waves-light btn-sm" id="impression" name="impression" type="button" onclick="imprimer_page()" value="{% trans %}Print{% endtrans %}" />
                </form>
            </div>


            <h1 class="just-for-print text-center my-5">Résumé des transfers</h1>

            <div class="table-responsive">
                <table class="table table-bordered border-primary mb-0 text-center">

                    <thead class="bg-primary bg-gradient text-light border-end-light">
                        <tr>
                            <th>P/C</th>
                            <th>Type</th>
                            <th># reserva / # Jumbo</th>
                            <th>area</th>
                            <th>{% trans %}A{% endtrans %}</th>
                            <th>{% trans %}C{% endtrans %}</th>
                            <th>{% trans %}B{% endtrans %}</th>
                            <th>{% trans %}Voucher{% endtrans %}</th>
                            <th>{% trans %}Date{% endtrans %}</th>
                            <th>{% trans %}Hour{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transfer in allTransfers|sort((c, d) => c['hour'] <=> d['hour'])|sort((a, b) => a["date"] <=> b["date"]) %}
                            {% if (transfer['instance'] == "arrival") %}
                                {% set base =  transfer["object"].transferArrival %}
                            {% else %}
                                {% set base =  transfer["object"] %}
                            {% endif %}

                            <tr>
                                <td>{{ (transfer["object"].isCollective) ? '<i title="collective" class="fas fa-users fs-5"></i>' : '<i title="private" class="fas fa-user-alt" ></i>'}}</td>
                                <td>
                                    {% if transfer['instance'] == "arrival" %}
                                            <i title="arrival" class="mdi mdi-airplane-landing fs-5"></i>
                                        {% elseif transfer['instance'] == "interhotel" %}
                                            <i title="interhotel" class="mdi mdi-car fs-5"></i>
                                        {% else %}
                                            <i title="departure" class="mdi mdi-airplane-takeoff fs-5"></i>
                                    {% endif %}
                                </td> 
                                <td>{{ (base) ? base.customerCard.reservationNumber : '?'}} / {{ (base) ? base.customerCard.jumboNumber : '-' }} </td>
                                <td> {{ transfer["object"].area }} </td>
                                <td>{{ (base) ? base.adultsNumber : '-' }} </td>
                                <td>{{ (base) ? base.childrenNumber }} </td>
                                <td>{{ (base) ? base.babiesNumber : '-' }} </td>
                                <td>{{ transfer["object"].voucherNumber }} </td>
                                <td> 
                                    {{ transfer["date"]|date("d-m-Y")  }}
                                </td>
                                <td> 
                                    {{ transfer["hour"]|date("H:i") }}
                                </td> 
                            </tr>

                        {% endfor %}
                        <tfooter>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>{{ adultsNumber }}</th>
                                <th>{{ childrenNumber }}</th>
                                <th>{{ babiesNumber }}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfooter>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {{ include('partials/footer.html.twig') }}
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->

        {{ include('partials/right-sidebar.html.twig') }}

        {{ include('partials/vendor-scripts.html.twig') }}

        <!-- plugins -->
        <script src="/libs/select2/js/select2.min.js"></script>
        <script src="/libs/spectrum-colorpicker2/spectrum.min.js"></script>
        <script src="/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script src="/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
        <script src="/libs/@chenfengyuan/datepicker/datepicker.min.js"></script>

        <!-- datepicker js -->
        <script src="/libs/flatpickr/flatpickr.min.js"></script>

        <!-- init js -->
        <script src="/js/pages/form-advanced.init.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>

        <script type="text/javascript">
              function imprimer_page(){
              window.print();
              }
        </script>

    </body>
</html>
