{# {{ include('partials/header-reproupement.html.twig') }}

                        {{ include('partials/page-title.html.twig', {pagetitle: 'Home', title: 'Dashboard'}) }}

                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <div class="row">
                                            <h5>Transfer Management</h5>
                                            {% if doublonsArrivee %}
                                                <div class="col-md-4">
                                                    <a href="{{ path('duplicate_transfers', { param: 'arrival'})}}" class="text-danger">
                                                        <div class="card mt-4 maintenance-box border border-danger">
                                                            <div class="card-body p-4 ">
                                                                <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-airplane-landing"></i> Arrivals</h5>
                                                                <p class="mb-0">Attention vous avez des problèmes à régler.</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="col-md-4">
                                                    <div class="card mt-4 maintenance-box">
                                                        <div class="card-body p-4">
                                                            <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-airplane-landing"></i> Arrivals</h5>
                                                            <p class="mb-0 text-success">Rien à faire.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}


                                            {% if doublonsInterHotel %}
                                                <div class="col-md-4">
                                                    <a href="{{ path('duplicate_transfers', { param: 'interhotel'})}}" class="text-danger">
                                                        <div class="card mt-4 maintenance-box border border-danger">
                                                            <div class="card-body p-4">
                                                                <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> InterHotels</h5>
                                                                <p class="mb-0">Attention vous avez des problèmes à régler.</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="col-md-4">
                                                    <div class="card mt-4 maintenance-box">
                                                        <div class="card-body p-4">
                                                            <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> InterHotels</h5>
                                                            <p class="text-success mb-0">Rien à faire.</p>
                                                        </div>
                                                    </div>
                                                </div>                                            
                                            {% endif %}


                                            {% if doublonsDepart %}
                                                <div class="col-md-4">
                                                    <a href="{{ path('duplicate_transfers', { param: 'departure'})}}" class="text-danger">
                                                        <div class="card mt-4 maintenance-box border border-danger">
                                                            <div class="card-body p-4">
                                                                <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> Departures</h5>
                                                                <p class="mb-0">Attention vous avez des problèmes à régler.</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% else %}

                                                  <div class="col-md-4">
                                                    <div class="card mt-4 maintenance-box">
                                                        <div class="card-body p-4">
                                                            <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> Departures</h5>
                                                            <p class="text-success mb-0">Rien à faire.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                        </div>


{{ include('partials/footer-regroupement.html.twig') }}




 #}