{{ include('partials/header-reproupement.html.twig') }}

                        {{ include('partials/page-title.html.twig', {pagetitle: 'Home', title: 'Dashboard'}) }}

                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="float-end mt-2">
                                            <div id="total-revenue-chart"></div>
                                        </div>
                                        <div>
                                            <h4 class="mb-1 mt-1">Dashboard</h4>
                                            <ul>
                                            {% for doublon in doublonsArrivee %} 
                                                <li>
                                                    <a href="{{path('app_customer_card_show',{id: doublon.transferArrival.customerCard.id } )}}">{{ doublon.transferArrival.customerCard.holder}}</a>

                                                    <a href="{{ path('ignore_duplicate_transfers', {id: doublon.transferArrival.customerCard.id, param:'arrival' }) }}" class="btn btn-danger">Ignore duplicate</a>
                                                </li>
                                            {% endfor %} 
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                        </div>


{{ include('partials/footer-regroupement.html.twig') }}




