{{ include('partials/header-reproupement.html.twig') }}

                        {{ include('partials/page-title.html.twig', {pagetitle: 'Home', title: 'Dashboard'}) }}

                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <div class="row">
                                            <h5>Transfer Management</h5>
                                            {% if doublonsArrivee %}
                                                <div class="col-md-4">
                                                    <a href="{{ path('duplicate_transfers', { param: 'arrival'})}}" class="text-danger">
                                                        <div class="card mt-4 maintenance-box border border-danger">
                                                            <div class="card-body p-4 ">
                                                                <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-airplane-landing"></i> Arrivals</h5>
                                                                <p class="mb-0">Attention vous avez des problèmes à régler.</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="col-md-4">
                                                    <div class="card mt-4 maintenance-box">
                                                        <div class="card-body p-4">
                                                            <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-airplane-landing"></i> Arrivals</h5>
                                                            <p class="mb-0 text-success">Rien à faire.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}


                                            {% if doublonsInterHotel %}
                                                <div class="col-md-4">
                                                    <a href="{{ path('duplicate_transfers', { param: 'interhotel'})}}" class="text-danger">
                                                        <div class="card mt-4 maintenance-box border border-danger">
                                                            <div class="card-body p-4">
                                                                <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> InterHotels</h5>
                                                                <p class="mb-0">Attention vous avez des problèmes à régler.</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="col-md-4">
                                                    <div class="card mt-4 maintenance-box">
                                                        <div class="card-body p-4">
                                                            <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> InterHotels</h5>
                                                            <p class="text-success mb-0">Rien à faire.</p>
                                                        </div>
                                                    </div>
                                                </div>                                            
                                            {% endif %}


                                            {% if doublonsDepart %}
                                                <div class="col-md-4">
                                                    <a href="{{ path('duplicate_transfers', { param: 'departure'})}}" class="text-danger">
                                                        <div class="card mt-4 maintenance-box border border-danger">
                                                            <div class="card-body p-4">
                                                                <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> Departures</h5>
                                                                <p class="mb-0">Attention vous avez des problèmes à régler.</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% else %}

                                                  <div class="col-md-4">
                                                    <div class="card mt-4 maintenance-box">
                                                        <div class="card-body p-4">
                                                            <h5 class="font-size-15 text-uppercase"><i class="mdi mdi-car"></i> Departures</h5>
                                                            <p class="text-success mb-0">Rien à faire.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        </div>

{#                                             <ul>
                                            {% for doublon in doublonsArrivee %} 
                                                <li>
                                                    <a href="{{path('app_customer_card_show',{id: doublon.transferArrival.customerCard.id } )}}">{{ doublon.transferArrival.customerCard.holder}}</a>

                                                    <a href="{{ path('ignore_duplicate_transfers', {id: doublon.transferArrival.customerCard.id, param:'arrival' }) }}" class="btn btn-danger">Ignore duplicate</a>
                                                </li>
                                            {% endfor %} 
                                            </ul>

                                            <ul>
                                            {% for doublon in doublonsInterHotel %} 
                                                <li>
                                                    <a href="{{path('app_customer_card_show',{id: doublon.transferInterHotel.customerCard.id } )}}">{{ doublon.transferInterHotel.customerCard.holder}}</a>

                                                    <a href="{{ path('ignore_duplicate_transfers', {id: doublon.transferInterHotel.customerCard.id, param:'interhotel' }) }}" class="btn btn-danger">Ignore duplicate</a>
                                                </li>
                                            {% endfor %} 
                                            </ul>

                                            <ul>
                                            {% for doublon in doublonsDepart %} 
                                                <li>
                                                    <a href="{{path('app_customer_card_show',{id: doublon.transferDeparture.customerCard.id } )}}">{{ doublon.transferDeparture.customerCard.holder}}</a>

                                                    <a href="{{ path('ignore_duplicate_transfers', {id: doublon.transferDeparture.customerCard.id, param:'departure' }) }}" class="btn btn-danger">Ignore duplicate</a>
                                                </li>
                                            {% endfor %} 
                                            </ul>
 #}

                                        </p>
                                    </div>
                                </div>
                            </div> <!-- end col-->
                        </div>


{{ include('partials/footer-regroupement.html.twig') }}




