{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Reservations backup', title: 'Reservations backup'|trans}) }}

   

        <div class="row mb-3">    
            <form action={{ path('app_backup_reservation') }} method="GET">
                <label for="date">Choose a creation date</label><br>
                <input id="date" name="date" type="date" value="{{date | date('Y-m-d') }}">
                <input type="submit" class="btn btn-primary waves-effect waves-light btn-sm">
            </form>
        </div>

        <div class="row">
            <div class="card">
                <div class="card-body">
                            {% for message in app.flashes('warning') %}
                                <div class="alert alert-danger" role="alert">
                                    <p class="font-weight-bold">
                                        {{ message }}
                                    </p>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success" role="alert">
                                    <p class="font-weight-bold">
                                            {{ message }}
                                    </p>
                                </div>
                            {% endfor %}
                    <div class="table-responsive">
                        {% if (transferArrivals|length == 0) %} 
                            {% trans %}There are no arrivals created on{% endtrans %} {{date|date('d/m/Y') }}
                        {% else %}  
                            {% if showSubmit == true %}                               
                                <form method="post" action="{{ path('app_backup_delete_reservation')}}" onsubmit="return confirm('Are you sure you want to delete all items ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                    <button class="btn btn-danger">{% trans %}Delete everything created on{% endtrans %} {{date|date('d/m/Y') }}</button>
                                </form> 
                            {% else %}
                                {% trans %}Please select a date first{% endtrans %}                              
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      


{{ include('partials/footer-regroupement.html.twig') }}