{{ include('partials/header-reproupement.html.twig') }}


    {{ include('partials/page-title.html.twig', {pagetitle: 'Client Card'|trans, title: 'Edit Transfer Arrival'|trans}) }}

        {{ include('transfer_inter_hotel/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_transfer_inter_hotel_index') }}">back to list</a>

        {{ include('transfer_inter_hotel/_delete_form.html.twig') }}

{{ include('partials/footer-regroupement.html.twig') }}
