{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'Minibles', title: 'Bienvenue Sur le Kino Dashboards'}) }}


        {% for message in app.flashes('dropzone_success') %}
            <div class="alert alert-success" data-turbo-cache="false">{{ message }}</div>
        {% endfor %}
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Upload it!</button>
        {{ form_end(form) }}
        
        <div class="d-flex eyebrows pt-5">
            <div>NOTE: this library does not integrate with the Dropzone.js JavaScript library.</div>
        </div>


    {{ include('partials/footer-regroupement.html.twig') }}
