{{ include('partials/header-reproupement.html.twig') }}
    
    {{ include('partials/page-title.html.twig', {pagetitle: 'General Settings', title: 'New User'|trans}) }}


    <a href="{{ path('app_user_list') }}" class="btn btn-primary waves-effect waves-light"><i class="uil-angle-left me-2"></i>{% trans %}Back to list{% endtrans %}</a>


    <h1 class="text-center mb-5">{% trans %}Create new User{% endtrans %}</h1>


    <div class="row justify-content-center">
        <div class="col-md-4">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
      
{{ include('partials/footer-regroupement.html.twig') }}




