{{ include('partials/header-reproupement.html.twig') }}

    {{ include('partials/page-title.html.twig', {pagetitle: 'General Settings', title: 'New Area'}) }}

        <h1>Create new Area</h1>

        {{ include('area/_form.html.twig') }}

        <a href="{{ path('app_area_index') }}">back to list</a>
            
{{ include('partials/footer-regroupement.html.twig') }}

